{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% if usuario  != 'EXPERTO' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if usuario != 'EXPERTO' %}
        <div class="matter">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="widget wblue">
              						<div class="widget-head">
									  <div class="pull-left">Formulario - Informe Final</div>
									  <div class="clearfix"></div>
									</div>
									<div class="widget-content">
									  <div class="padd">

										<hr />
										<!-- Form starts.  -->

											<form class="form-horizontal" role="form" method="post">
                                            {% csrf_token %}

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label class="control-label" style="text-align: left">Informe</label>
                                                            <textarea name="informe" cols="40" rows="20" class="form-control" row="3" required id="id_informe">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label style="text-align: left"  class="control-label">Estado</label>
                                                            <br>
                                                            <input type="checkbox" checked name="estado" >
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-md-offset-1" hidden>
                                                    <div  class="row">
                                                        <div class="form-group">
                                                            <input class="form-control" type="number" value="{{estudio.id}}" name="idEstudio">
                                                        </div>
                                                    </div>
                                                </div>


                                                 <div  class="row">
                                                    <div class="col-md-3 col-md-offset-1" hidden>
                                                        <div class="form-group">
												            <label class="control-label" style="text-align: left">Coordinador</label>
												            <input class="form-control" type="text" value="{{user.id}}" name="idCoordinador">
												        </div>
                                                    </div>
                                                 </div>

												<div class="form-group">
												  <div class="col-md-8 col-md-offset-3">
													<button type="submit" class="btn btn-primary pull-right">Guardar
														<i class="fa fa-check"></i>
													</button>
												  </div>
												</div>
											</form>

									  </div>
									</div>
								</div>


							</div>
						</div>
					</div>
</div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
    {% endif %}
{% endblock %}


