{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% if usuario  != 'EXPERTO' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if usuario != 'EXPERTO' %}
        <div class="matter">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="widget wblue">
              						<div class="widget-head">
									  <div class="pull-left">Formulario - Informe Final</div>
                                      <div class="widget-icons pull-right">
                                          <div class="btn-group">
                                          </div>
                                      </div>
									  <div class="clearfix"></div>
									</div>
									<div class="widget-content">
									  <div class="padd">

										<hr />
										<!-- Form starts.  -->

											<form class="form-horizontal" role="form" method="post">
                                            {% csrf_token %}

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label class="control-label" style="text-align: left">Informe</label>
                                                            {%if datos %}
                                                             <textarea name="informe" cols="40" rows="20" class="form-control" row="3" required>{{datos.informe}}</textarea>
                                                            {%else%}
                                                            <textarea name="informe" cols="40" rows="20" class="form-control" row="3" required id="id_informe"></textarea>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label style="text-align: left"  class="control-label">Estado</label>
                                                            <br>
                                                            {% if datos.estado is True %}
                                                            <input type="checkbox" checked name="estado">
                                                            {% else %}
                                                            <input type="checkbox" name="estado">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-md-offset-1" hidden>
                                                    <div  class="row">
                                                        <div class="form-group">
                                                            <input class="form-control" type="number" value="{{estudio.id}}" name="idEstudio">
                                                        </div>
                                                    </div>
                                                </div>


                                                 <div  class="row">
                                                    <div class="col-md-3 col-md-offset-1" hidden>
                                                        <div class="form-group">
												            <label class="control-label" style="text-align: left">Coordinador</label>
												            <input class="form-control" type="text" value="{{user.id}}" name="idCoordinador">
												        </div>
                                                    </div>
                                                 </div>

                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-8">
                                                        <button id="boton_guardar" type="submit" class="btn btn-primary">Guardar
														<i class="fa fa-check"></i>
													    </button>
                                                        <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                                                    </div>
                                                </div>
											</form>
									  </div>
									</div>
								</div>
							</div>
						</div>
					</div>

             <!--MODAL AYUDA------------------------------------------------------------------------------------------>

                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Ayuda - Informe Final</h4>
                                </div>
                                <div class="modal-body" style="text-align: justify">
                                    <p>Esta fase final del estudio MACTOR, tiene como objetivo la formulación de
                                        preguntas clave y la redacción de recomendaciones estratégicas, tomando como
                                        base el análisis de las posibles alianzas y conflictos entre los actores
                                        evidenciados a través de las matrices anteriormente vistas; ayudando esto a
                                        preguntarse cómo se verían afectadas las relaciones entre los actores y por
                                        tanto el alcance de los objetivos ante aspectos como: el surgimiento y
                                        desaparición de actores, los cambios de roles, etc.
                                        (Arcade, Godet, Meunier, & Roubelat, 2004).
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

</div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
    {% endif %}



{% if estudio.estado is False %}
    <script type="text/javascript">
        document.getElementById("boton_guardar").disabled = true;
    </script>
{% endif %}

{% endblock %}


