{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
    {% if usuario != '' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}

    {% if usuario != '' %}
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wgreen">
                    <div class="widget-head">
                        <div class="pull-left">Lista de objetivos</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered ">
                            <thead>
                                {% if lista_objetivos %}
                                <tr>
                                    <th style="text-align: center">#</th>
                                    <th style="text-align: center">Nombre Largo</th>
                                    <th style="text-align: center">Nombre Corto</th>
                                    <th style="text-align: center">Descripción</th>
                                    <th style="text-align: center">Acciones</th>
                                </tr>
                                {% endif %}
                            </thead>
                            <tbody>
                                {%if lista_objetivos %}
                                    {% for objetivo in lista_objetivos %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{objetivo.nombreLargo|upper}}</td>
                                            <td>{{objetivo.nombreCorto|upper}}</td>
                                            <td style="text-align: justify">{{objetivo.descripcion}}</td>
                                            <td>
                                                <a id="ver{{objetivo.id}}" class="btn btn-primary" title="Ver" data-toggle="modal" href="#myModal4">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                {% if usuario == 'COORDINADOR' %}
                                                    <a id="obj{{objetivo.id}}" class="btn btn-warning" title="Editar" data-toggle="modal" href="#myModal3">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a id="{{objetivo.id}}" class="btn btn-danger delete" title="Eliminar" data-toggle="modal" href="#myModal2"
                                                       role="button"  data-name="{{objetivo.nombreLargo}}">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                <h2>No hay objetivos registrados</h2>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

<!--SECCION DE PAGINACION ----------------------------------->
                    <div class="widget-foot">
										<ul class="pagination pull-right">
										  <li>
                                              {% if page_obj.has_previous %}
                                              <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
                                              {% endif %}
                                          </li>

										  <li>
                                              {% if page_obj.has_next %}
                                              <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                                              {% endif %}
                                          </li>
										</ul>
										<div class="clearfix"></div>
                    </div>

                </div>
            </div>

<!--BOTONES--------------------------------------------------------------------------------->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <a class="btn btn-sm btn-success" href="{%url 'mactor:lista_fichas' estudio.id%}"><i class="fa fa-arrow-left"></i> Estrategias</a>
                    {% if usuario == 'COORDINADOR' %}
                        <a class="btn btn-primary" data-toggle="modal" href="#myModal1"><i class="fa fa-plus"></i> Agregar</a>
                    {% endif %}
                    <a class="btn btn-primary" data-toggle="modal" href="#myModal5"><i class="fa fa-book"></i> Ayuda</a>
                    <a class="btn btn-sm btn-success" href="{% url 'mactor:influencia' estudio.id%}">Influencias MID<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>


 <!--INICIO MODALS CREAR, ELIMINAR, EDITAR Y AYUDA--------------------------->

        {% include 'objetivo/modals_CRUD_objetivo.html'%}

        </div>
    </div>
    {% else %}
        <h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
    {% endif %}

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/agregar/agregar_objetivo.js'%}"></script>
<script src="{% static 'js_mactor_modals/eliminar/eliminar_objetivo.js'%}"></script>
<script src="{% static 'js_mactor_modals/editar/editar_objetivo.js'%}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_objetivo.js'%}"></script>
{% endblock %}

{% endblock %}