{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
    {% if usuario != 'EXPERTO' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}

    {% if usuario != '' and usuario != 'EXPERTO' %}

        <!--MATRIZ BALANCE------------------------------------------------------------------------------------------------->

        <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wblue">
                            <div class="widget-head">
                                 <div class="pull-left">Consenso - Matriz de Balance Líquido de Influencias Directas e Indirectas</div>
                                <div class="widget-icons pull-right"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <table class="table table-bordered" id="tabla2">
                                    <thead>
                                        <tr>
                                            {% if actores and valores_balance %}
                                                <input style='text-align: center;'  type="text" size="4" readonly value="">
                                                    {% for actor in actores %}
                                                        <input id="act{{actor.id}}" style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text"
                                                               title="{{actor.nombreLargo|upper}}" size="4"
                                                               value="{{actor.nombreCorto}}" data-toggle="modal"
                                                               href="#modal_Consultar_actor">
                                                    {% endfor %}
                                                <input style='text-align: center; background-color: #5e5e5e; color: white' readonly  type="text" size="4" title="SUMA FILA" value="SUMA">
                                            {% endif %}
                                            <br>
                                         </tr>
                                    </thead>
                                    <tbody>
                                    {%if valores_balance %}
                                    <tr>
                                        {% for i in valores_balance %}
                                            <!--Inserta el ultimo valor antes del salto de linea-->
                                            {% if i.posicion == posicion_salto %}
                                                <input style='text-align: center;' readonly type="text" size="4" value="{{i.valor}}" title="{{i.descripcion}}">
                                                <br>

                                            <!--Inserta los nombres cortos en el eje Y-->
                                            {% elif i.posicion == 0 %}
                                                <input id="mid{{i.valor}}" style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                       size="4" title="{{i.descripcion|upper}}" value="{{i.valor}}"
                                                       data-toggle="modal" href="#modal_Consultar_actor">

                                            <!--Inserta los valores posteriores al nombre corto en Y y previos a la ultima celda-->
                                            {% else %}
                                                <input style='text-align: center;' readonly type="text" size="4" value="{{i.valor}}" title="{{i.descripcion}}">
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <h3>Finalice el registro de las influencias directas para visualizar la matriz de balance líquido.</h3>
                                    {% endif %}
                                            <br>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <p><h5>Expertos en consenso = {{expertos}}</h5></p>
        <br>

        <!--BOTONES------------------------------------------->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <a class="btn btn-sm btn-success" href="{%url 'mactor:consenso_influencias' estudio.id 2%}" title="Consenso MIDI"><i class="fa fa-arrow-left"></i> Atrás</a>
                <a class="btn btn-primary" data-toggle="modal" href="#myModal" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
            </div>
        </div>

        <!--INICIO MODAL CONSULTAR ACTOR------------------------------------------------------------------------------->

                    {% include 'actor/modal_detalle_actor.html' %}

        <!--INICIO MODAL AYUDA----------------------------------------------------------------------------------------->

         <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                         <h4 class="modal-title">Ayuda - Matriz de Balance Líquido</h4>
                     </div>
                     <div class="modal-body" style="text-align: justify">
                         <p>
                             El balance neto permite conocer si un actor, en términos netos, influye más de lo
                             que es influenciado. Corresponde a la diferencia entre la influencia directa e
                             indirecta del actor i sobre el actor j y la influencia directa e indirecta de j
                             sobre i. Si el valor es positivo, significa que el actor i influye directa e
                             indirectamente en el actor j más, de lo que es influenciado por ese actor; si la
                             sumatoria del actor i es negativa, indica que su dependencia es mayor a su
                             influencia(Castro y Perestrelo, 2000).
                         </p>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                     </div>
                 </div>
             </div>
         </div>

    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
    {% endif %}
{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor_objetivo_matriz.js'%}"></script>
{% endblock %}

{% endblock %}