{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != 'EXPERTO' %}
		<input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
	{% endif %}
{% endblock %}

{% block content %}
	{% if usuario != '' and usuario != 'EXPERTO' %}
		<div class="matter">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="widget wblue">
							<div class="widget-head">
								<div class="pull-left">Consenso - Indicador de Estabilidad de las Relaciones entre Actores</div>
								<div class="clearfix"></div>
							</div>
							<div class="widget-content">
								<div class="padd">
										<hr>
										<!------------------------- Form starts. ------------------->
									<form class="form-horizontal" role="form">
										<div class="row">
											<div class="col-md-7 col-md-offset-1">
												<div class="form-group">
													<h2>H = {{indicador}}%</h2>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<!--BOTONES----------->
						<div class="form-group">
							<div class="col-md-offset-2 col-md-8">
								<a class="btn btn-sm btn-success" href="{%url 'mactor:consenso_influencias' estudio.id 2%}" title="Consenso MIDI"><i class="fa fa-arrow-left"></i> Atrás</a>
								<a class="btn btn-primary" data-toggle="modal" href="#myModal" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
							</div>
						</div>

						<!--MODAL DE AYUDA-->
                         <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Ayuda - Coeficiente de estabilidad H</h4>
                                    </div>
                                    <div class="modal-body" style="text-align: justify">
                                        <p>De acuerdo a Castro y Perestrelo (2000), la estabilidad de las relaciones entre
                                            los actores se puede establecer inicialmente mediante del posicionamiento de
                                            estos en el Mapa de Influencia / Dependencia asi:</p><br>
                                        <i class="fa fa-check"></i> El juego de actores es estable si por un lado se tienen actores muy influyentes
                                            y poco dependientes y por otro, actores muy dependientes y poco influyentes.<br>
                                        <i class="fa fa-check"></i> El juego de actores es inestable cuando todos los actores son muy influyentes
                                            y muy dependientes, es decir ninguno tiene el poder.
                                        <p>
                                            El indicador de estabilidad H varía entre 0 y 100% y se calcula a partir de
                                            los valores de influencia y dependencia de MIDI entonces:<br>

                                            <i class="fa fa-check"></i> Si H ≅ 0%, es inestable, pues los actores son a la vez muy influyentes y muy dependientes.<br>
                                            <i class="fa fa-check"></i> Si H ≅ 100% es estable, ya que los actores o son muy influyentes o muy dependientes.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

					</div>
				</div>
			</div>
</div>

		<p><h5>Expertos en consenso = {{expertos}}</h5></p>
        <br>
	{% else %}
		<img src="{% static 'img/acceso_denegado.png' %}">
		<h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
	{% endif %}

{% endblock %}