{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
    {% if usuario != '' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}

    {% if usuario != '' %}
        <div id="content" class="container">
        <div class="row">
                <div class="col-md-12">
                    <div class="widget wgreen">
                        <div class="widget-head">
                            <div class="pull-left">Lista de rondas</div>
                            <div class="widget-icons pull-right">
                                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="div_tabla" class="widget-content">
                            <table id="tabla_actores" class="table table-bordered">
                                <thead>
                                    {% if rondas %}
                                    <tr>
                                        <th style="text-align: center">Número</th>
                                        <th style="text-align: center">Descripción</th>
                                        <th style="text-align: center">Estado</th>
                                        <th id="acciones" style="text-align: center">Acciones</th>
                                    </tr>

                                </thead>
                                <tbody>
                                        {% for ronda in rondas %}
                                            <tr>
                                                <td style="text-align: justify">{{ronda.numero_ronda}}</td>
                                                <td style="text-align: justify">{{ronda.descripcion}}</td>
                                                <td style="text-align: justify">{{ronda.estado}}</td>
                                                <td>
                                                    <a id="ver" class="btn btn-primary" title="Ver" data-toggle="modal" href="#myModal5"><i class="fa fa-eye"></i></a>
                                                    {% if estudio.estado is True and usuario != 'EXPERTO' %}
                                                    <a id="edi" class="btn btn-warning .edit" title="Editar" data-toggle="modal" href="#myModal3"><i class="fa fa-pencil"></i></a>
                                                    <a href="#myModal2" role="button" class="btn btn-danger delete" title="Eliminar" data-toggle="modal"
                                                       id="#" data-name="#"><i class="fa fa-times"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <h2>No se han registrado rondas.</h2>
                                    {% endif %}
                                </tbody>
                            </table>

                            <!------------PAGINACION--------->
                        <ul class="pager">
                                <li>
                                    {% if page_obj.has_previous %}
                                        <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if page_obj.has_next %}
                                        <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                                    {% endif %}
                                </li>
                        </ul>

                        </div>
                    </div>
                </div>

    <!--BOTONES--------------------------------------------------------------------------------->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <a class="btn btn-sm btn-success" href="{%url 'entrevista:escala'%}" title="Escala de Likert"><i class="fa fa-arrow-left"></i> Escala</a>
                        {% if usuario != 'EXPERTO' %}
                        <a class="btn btn-primary" href="{% url 'entrevista:registrar_ronda' %}" title="Agregar pregunta"><i class="fa fa-plus"></i> Agregar</a>
                        {% endif %}
                        <a class="btn btn-primary" data-toggle="modal" href="#myModal4" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                        <a class="btn btn-sm btn-success" href="{% url 'entrevista:juicios' %}" title="Juicios">Juicios <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

     <!--INICIO MODALS CREAR, ELIMINAR, EDITAR Y AYUDA--------------------------->

            {% include 'actor/modals_actor.html'%}

            </div>
        </div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
    {% endif %}

<!--
{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/js_mactor/js_mactor_modals/agregar/agregar_actor.js'%}"></script>
<script src="{% static 'js/js_mactor/js_mactor_modals/eliminar/eliminar_actor.js'%}"></script>
<script src="{% static 'js/js_mactor/js_mactor_modals/editar/editar_actor.js'%}"></script>
<script src="{% static 'js/js_mactor/js_mactor_modals/consultar/consultar_actor.js'%}"></script>
{% endblock %}


{% if estudio.estado is False or cantidad_registrados == 15 %}
    <script type="text/javascript">
        document.getElementById("boton_agregar").disabled = true;
    </script>
{% endif %}
-->

{% endblock %}