{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != '' %}
        {% if expertos %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="0{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% else %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% endif %}
        <input hidden class="col-sm-1" type="number" name="numero_matriz" value="{{numero_matriz}}">
{% endif %}
{% endblock %}

{% block content %}

        {% include 'js_grafos.html' %}

{% if usuario != '' %}
        <h6>Grafo de Divergencias entre Actores {{numero_matriz}}DAA.</h6>
        <br>
		<div id="mynetwork" style="width: 100%; height: 400px"></div>

    <script type="text/javascript">

            var idEstudio = $('input[name="idEstudio"]').val();
            var numero_matriz = $('input[name="numero_matriz"]').val();
            var lista_nodos = []
            var lista_edges = []
			$.ajax(
			    {
                    data : {'numero_matriz' : numero_matriz,
                            'estudio': idEstudio
                            },
                    url: 'datos_grafo_daa',
                    type: 'get',
                    success: function (data)
                    {
                        var object = JSON.parse(data);

                        for(var j=0; j<object.nodos_id.length; j++)
                        {
                            var nodo = {id: object.nodos_id[j], label: object.nodos_labels[j]};
                            lista_nodos.push(nodo);
                        }

                        for(var i=0; i<object.edge_origenes.length; i++)
                        {
                            var edge = {from: object.edge_origenes[i],
                                        to: object.edge_destinos[i],
                                        label: object.edge_labels[i],
                                        font: {align: 'horizontal'}};
                            lista_edges.push(edge);
                        }

                        generar();
                    },
                    error: function()
                    {
                        console.log("Error no se puede graficar")
                    }
                });

          function generar()
          {
              var container = document.getElementById('mynetwork');
              var data =
                  {
                nodes: lista_nodos,
                edges: lista_edges
                  };
              var options = {physics:false};
              var network = new vis.Network(container, data, options);

          }

</script>

{% if expertos %}
    <p><h5>Expertos en concenso = {{expertos}}</h5></p>
{% endif %}
<br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                {% if expertos %}
                <a class="btn btn-sm btn-success" href="{%url 'mactor:concenso_caa_daa' estudio.id numero_matriz 1%}"><i class="fa fa-arrow-left"></i> Atrás</a>
                {% else %}
                <a class="btn btn-sm btn-success" href="{%url 'mactor:caa_daa' estudio.id numero_matriz%}"><i class="fa fa-arrow-left"></i> Atrás</a>
                {% endif %}
                <a class="btn btn-primary" data-toggle="modal" href="#"><i class="fa fa-book"></i> Ayuda</a>
                <a class="btn btn-primary" data-toggle="modal" href=""><i class="fa fa-download"></i> Descargar</a>
            </div>
        </div>

{% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
{% endif %}
{% endblock %}