{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != '' %}
        {% if expertos %}
		<input hidden class="col-sm-1" type="number" name="idEstudio" value="0{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% else %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% endif %}
        <input hidden class="col-sm-1" type="number" name="numero_matriz" value="{{numero_matriz}}">
{% endif %}
{% endblock %}

{% block content %}

        {% include 'js_histogramas_planos.html' %}

 {% if usuario != '' %}
        <br>
		<div style="width: 75%">
        	<canvas id="canvas"></canvas>
    	</div>

        <script>
            var idEstudio = $('input[name="idEstudio"]').val();
            var numero_matriz = $('input[name="numero_matriz"]').val();
            var tipo_grafico = "IMPLICACION"
            var positivos = []
			var negativos = []
            var lista_labels = []

			// se obtienen los datos a graficar
			$.ajax(
                        {
                            data : {'numero_matriz' : numero_matriz,
                                    'estudio': idEstudio,
                                    'tipo': tipo_grafico},
                            url: 'datos_histograma',
                            type: 'get',
                            success: function (data)
                            {
                                var object = JSON.parse(data);

                                for(var i=0; i<object.labels.length; i++)
                                {
                                    lista_labels.push(object.labels[i])
                                }
                                for(var j=0; j<object.valores_positivos.length; j++)
                                {
                                    positivos.push(object.valores_positivos[j])
									negativos.push(object.valores_negativos[j])
                                }
                                generar()
                            },
                             error: function()
                             {
                                 console.log("Error no se puede graficar")
                             }
                        });

            // se asignan los valores a graficar
			var barChartData = {
				labels: lista_labels,
				datasets: [{
					label: 'Implicación Positiva',
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					data: positivos
				}, {
					label: 'Implicación Negativa',
					backgroundColor: 'rgba(255,99,132,1)',
					data: negativos
				}]
			};

			// Funcion que genera la grafica
			function generar () {
				var ctx = document.getElementById("canvas").getContext("2d");
				window.myBar = new Chart(ctx, {
					type: 'bar',
					data: barChartData,
					options: {
						title:{
							display:true,
							text:"Implicación de los actores"
						},
						tooltips: {
							mode: 'index',
							intersect: false
						},
						responsive: true,
						scales: {
							xAxes: [{
								stacked: true,
							}],
							yAxes: [{
								stacked: true
							}]
						}
					}
				});
			};

            </script>
<br>
{% if expertos %}
    <p><h5>Expertos en consenso = {{expertos}}</h5></p>
{% endif %}
<h6>Matriz {{numero_matriz}}MAO.</h6>
<br>
<br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <a class="btn btn-sm btn-success" href="{%url 'mactor:matriz_mao' estudio.id numero_matriz%}" title="Atrás"><i class="fa fa-arrow-left"></i> {{numero_matriz}}MAO</a>
                <a class="btn btn-primary" data-toggle="modal" href="#myModal" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
            </div>
        </div>

        <!--MODAL AYUDA------------->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ayuda - Histograma de Implicación</h4>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        <p>De acuerdo a Castro y Perestrelo (2000), el grado de implicación corresponde al número de
                            objetivos para los que cada actor tiene una posición activa, concordante o discordante.
                            <br>
                            <br>
                          El presente diagrama visualiza, el grado de favorabilidad(implicación positiva) y el grado
                            de desacuerdo (implicación negativa) que cada actor presenta ante los objetivos del estudio.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

{% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
{% endif %}

{% endblock %}