{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != '' %}
		{% if expertos %}
		<input hidden class="col-sm-1" type="number" name="idEstudio" value="0{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% else %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% endif %}
        <input hidden class="col-sm-1" type="number" name="numero_matriz" value="{{numero_matriz}}">
    {% endif %}
{% endblock %}

{% block content %}

        {% include 'js_histogramas_planos.html' %}

{% if usuario != '' %}
		<div style="width: 80%">
        	<canvas id="canvas"></canvas>
    	</div>

        <script>

            var idEstudio = $('input[name="idEstudio"]').val();
            var numero_matriz = $('input[name="numero_matriz"]').val();
            var lista_parejas = []
            var lista_colores = [   'rgb(255, 0, 0)',
                                    'rgb(255, 255, 0)',
                                    'rgb(244, 164, 96)',
                                    'rgb(128, 0, 128)',
                                    'rgb(106, 90, 205)',
                                    'rgb(173, 255, 47)',
                                    'rgb(0, 100, 0)',
                                    'rgb(128, 128, 0)',
                                    'rgb(0, 255, 255)',
                                    'rgb(139, 0, 0)',
                                    'rgb(255, 215, 0)',
                                    'rgb(230, 230, 250)',
                                    'rgb(75, 0, 130)',
                                    'rgb(128, 128, 128)',
                                    'rgb(0, 0, 0)',

                                ]

			// se obtienen los datos a graficar
			$.ajax(
			    {
                    data : {'numero_matriz' : numero_matriz,
                            'estudio': idEstudio
                            },
                    url: 'datos_mapa_caa_daa',
                    type: 'get',
                    success: function (data)
                    {
                        var object = JSON.parse(data);

                        for(var j=0; j<object.valores_ejeX.length; j++)
                        {
                            var pareja = {
                                label: object.labels[j],
                                borderColor: lista_colores[j],
                                backgroundColor: lista_colores[j],
                                data: [{
                                    x: object.valores_ejeX[j],
                                    y: object.valores_ejeY[j],
                                       }]
                                        };

                            lista_parejas.push(pareja);
                        }
                        generar()
                    },
                    error: function()
                    {
                        console.log("Error no se puede graficar")
                    }
                });

			// Asignación de los valores a graficar
			var scatterChartData =
                {
            datasets: lista_parejas
                };

			// Funcion que genera la grafica
			function generar ()
            {
				var ctx = document.getElementById("canvas").getContext("2d");
				window.myScatter = Chart.Scatter(ctx,
                    {
                    data: scatterChartData,
                    options:
                        {
                        tooltips: {
                            mode: 'y'
                                    },
                        title: {
                            display: true,
                            text: 'Mapa de Convergencias y Divergencias entre Actores'
                               },
                        scales:{
	            	        xAxes: [{
	            		    scaleLabel: {
	            			labelString: 'Divergencia',
	            			display: true,
	            		                }
	            	                }],
	            	        yAxes: [{
	            		    scaleLabel: {
	            			labelString: 'Convergencia',
	            			display: true
	            		                }
	            	                }]
	                            }
                            }
                    });
			};
     </script>

<br>
{% if expertos %}
    <p><h5>Expertos en consenso = {{expertos}}</h5></p>
{% endif %}
<h6>Mapa de Convergencias y Divergencias entre Actores {{numero_matriz}}CAA - {{numero_matriz}}DAA.</h6>
<br>
<br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                {% if expertos %}
                <a class="btn btn-sm btn-success" href="{%url 'mactor:consenso_caa_daa' estudio.id numero_matriz 1%}" title="Matrices CAA-DAA"><i class="fa fa-arrow-left"></i> Atrás</a>
                {% else %}
                <a class="btn btn-sm btn-success" href="{%url 'mactor:caa_daa' estudio.id numero_matriz%}" title="Matrices CCA-DAA"><i class="fa fa-arrow-left"></i> Atrás</a>
                {% endif %}
                <a class="btn btn-primary" data-toggle="modal" href="#myModal" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
            </div>
        </div>

        <!--MODAL AYUDA------------->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ayuda - Mapa de convergencias y divergencias</h4>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        <p>
                          El presente diagrama visualiza, mediante un plano cartesiano el nivel de convergencia y
                            divergencia de los actores. De acuerdo a Godet(1993), el analisis de favorabilidad y
                            desacuerdo de los actores permite identificar posibles:<br>
                            <i class="fa fa-check"></i> Alianzas: relaciónes establecidas entre dos o más actores, que
                            presentan posiciones semejantes respecto a una o más variables del sistema.<br>
                            <i class="fa fa-check"></i> Conflictos: resultado de la confrontación de estrategias
                            antagónicas entre actores frente a una misma variable, cuya resolución determina la
                            evolución de las relaciones de fuerza entre los mismos.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


{% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
{% endif %}
{% endblock %}