{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
    {% if usuario != '' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if usuario != '' and usuario != 'EXPERTO' %}
        <!--Matriz 3MAO-------------------------------------------------------------------------------------------------->
        <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wblue">
                            <div class="widget-head">
                                 <div class="pull-left">Concenso - Matriz Valorada y Ponderada de Posiciones 3MAO</div>
                                <div class="widget-icons pull-right">
                                    {% if estado_matriz == 1 %}
                                    <select name="histogramas" class="form-control" onchange="location = this.value;">
                                        <option value="">Análisis concenso</option>
                                        <option value="{% url 'mactor:concenso_grafico_mao' estudio.id 3 1 %}">Histograma de Implicaciones</option>
                                        <option value="{% url 'mactor:concenso_grafico_mao' estudio.id 3 2 %}">Histograma de Movilizaciones</option>
                                    </select>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                {% include 'mao/table_matriz_mao.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% if expertos %}
        <p><h5>Expertos en concenso = {{expertos}}</h5></p>
        {% else %}
        <p><h5>Ningún experto ha finalizado la matriz MID y 2MAO.</h5></p>
        {% endif %}
        <br>

        <!--BOTONES-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                {% if usuario == 'COORDINADOR_EXPERTO' %}
                <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mao' estudio.id 3%}"><i class="fa fa-arrow-left"></i> Atrás</a>
                {% else %}
                <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mao' estudio.id 2%}"><i class="fa fa-arrow-left"></i> Matriz 2MAO</a>
                {% endif %}
                <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                <a id="caa_daa" class="btn btn-primary" href="{%url 'mactor:concenso_caa_daa' estudio.id 3%}"><i class="fa fa-table"></i> CAA-DAA</a>
                <a class="btn btn-sm btn-success" href="#">Informe <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>

        <!--INICIO MODAL CONSULTAR ACTOR Y OBJETIVO----------------->

                    {% include 'actor/modal_detalle_actor.html' %}

                    {% include 'objetivo/modal_detalle_objetivo.html' %}

        <!--INICIO MODAL AYUDA------------------------------------->

                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                             <div class="modal-content">
                                             <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Ayuda</h4>
                                             </div>
                                             <div class="modal-body" style="text-align: justify">
                                            <p>La matriz 1MAO describe la actitud actual de cada actor
                                                en relación a cada objetivo, indicando su posición a favor (+1), en contra (-1) o
                                                neutra (0) hacia el alcance de cada objetivo. </p><br>
                                                 <p>Mediante la información contenida en ella, se obtiene la primera matriz de
                                                 convergencias (1CAA) y divergencias (1DAA). La primera se obtiene por el
                                                 producto de la matriz que contiene sólo productos escalares positivos, lo que
                                                 representa el número de objetivos respecto a los cuales un par de actores tiene
                                                 una actitud convergente, ya sea favorable o desfavorable. Por otro lado, 1DAA
                                                 se obtiene por el producto de la matriz que contiene sólo productos escalares
                                                 negativos, lo que representa el número de objetivos respecto de los cuales el
                                                 par de actores tiene una actitud divergente.
          </p>
                                             </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                          </div>
                                            </div>
                                        </div>
                            </div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
    {% endif %}

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor_objetivo_matriz.js'%}"></script>
{% endblock %}

{% endblock %}

