
      .active-selected{
          width:4em !important;
          height:4em !important;
          z-index: -2;
      }
      .green {
        background-color: #181 !important;
        border: solid 1px #181;
        height:32px;
        width:32px;
      }
      .white{
        background-color: #FFF !important;
        border: solid 1px #CCC;
        height:32px;
        width:32px;
      }
      .lgreen{
        background-color: #5D5 !important;
        border: solid 1px #5D5;
        height:32px;
        width:32px ;
      }
      .yellow{
        background-color: #ff0 !important;
        border: solid 1px #ff0;
        height:32px;
        width:32px ;
      }
      .lred{
        background-color: #ff5d5e !important;
        border: solid 1px #ff5d5e;
        height:32px;
        width:32px;
      }
      .red{
        background-color: #f00 !important;
        border: solid 1px #f00;
        height:32px;
        width:32px;
      }
      .black{
         background-color: #000 !important;
         border: solid 1px #000;
         height:32px;
         width:32px;
      }
      .transparente{
          width:72px;
          height:4em !important;
          z-index: -2;
      }
.view-voto{
    width:16px;
    height:16px;
    margin-left:10px;
    margin-top: -5px;
    border-radius:12px !important;
}

p{
    text-align: justify;
    padding-right: 5px;
}

.comment_item{
    width: 300px;
}

#table_cerrar_sesion td:last-child{
    width: 10px;
}

#table_cerrar_sesion td:first-child{
    width: 250px;
}

#table_cerrar_sesion td{
    width: 10px;
}

.overflow{
    overflow-x: scroll;
}
