{% load staticfiles %}

<!-- Javascript files -->
<!--
<script src="{% static 'jquery/jquery.min.js' %}"></script>-->
<!-- jQuery -->
<script src=" {% static 'js/jquery.js' %}"></script>
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- jQuery UI -->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- jQuery Gritter -->
<script src="{% static 'js/jquery.gritter.min.js' %}"></script>
<!-- Respond JS for IE8 -->
<script src="{% static 'js/respond.min.js' %}"></script>
<!-- HTML5 Support for IE -->
<script src="{% static 'js/html5shiv.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'js/custom.js' %}"></script>
<!-- Modal -------------------------------------->
<script src="{% static 'js/jquery.form.min.js' %}"></script>
<!-->
<script src="{% static 'js/filter.js' %}"></script>


<!--fontawesome-->







