{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
    {% if usuario != '' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if usuario != '' %}
        <!--Matriz RI-------------------------------------------------------------------------------------------------->
        <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wgreen">
                            <div class="widget-head">
                                 <div class="pull-left">Ri - Coeficiente de Relación de Fuerza de los actores</div>
                                <div class="widget-icons pull-right">
                                    {% if lista_contexto %}
                                     <select name="graficos_ri" class="form-control" onchange="location = this.value;">
                                        <option value="">Análisis Ri</option>
                                        <option value="{% url 'mactor:histograma_ri' estudio.id %}">Histograma Ri</option>
                                         {% if usuario == 'COORDINADOR_EXPERTO' %}
                                         <option value="{% url 'mactor:consenso_influencias' estudio.id 5 %}">Consenso Ri</option>
                                         {% endif %}
                                     </select>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <table class="table table-bordered" id="tabla_ri">
                                    <thead>
                                            <tr>
                                                <input style='text-align: center;' readonly type="text" size="4" value="">
                                                <input style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="4" value="Ri" title="Coeficiente de Relaciones de Fuerza">
                                                <br>
                                            </tr>
                                        </thead>
                                    <tbody>
                                            {% if lista_contexto %}
                                            <tr>
                                                {% for i in lista_contexto %}
                                                <!--Inserta la ultima celda de la fila y hace el salto de fila-->
                                                    {% if i.posicion == 1%}
                                                        <input style='text-align: center;' readonly type="text" size="4"
                                                               title="{{i.descripcion}}" value="{{i.valor}}">
                                                        <br>
                                                <!--Inserta las etiquetas del eje Y-->
                                                    {% elif i.posicion == 0 %}
                                                        <input id="str{{i.valor}}" style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="4" title="{{i.descripcion|upper}}" value="{{i.valor}}"
                                                               data-toggle="modal" href="#modal_Consultar_actor">
                                                <!--Inserta la ultima celda sin salto--->
                                                    {% else %}
                                                        <input style='text-align: center;' readonly type="text" size="4"
                                                               title="{{i.descripcion}}" value="{{i.valor}}">
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <h3>Registre las influencias MID del estudio.</h3>
                                            {% endif %}
                                            <br>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>


        <!--BOTONES----------------------------------------------------------------------------------------------------->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <a class="btn btn-sm btn-success" href="{%url 'mactor:matriz_midi' estudio.id%}"><i class="fa fa-arrow-left"></i> Atrás</a>
            <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
        </div>
    </div>

        <!--INICIO MODAL CONSULTAR ACTOR------------------------------------------------------------------------->

        {% include 'actor/modal_detalle_actor.html' %}

        <!--MODAL AYUDA------------------------------------------------------------------------------------------>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ayuda - Coeficiente de fuerza Ri</h4>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        <p>El coeficiente Ri, representa las relaciones de fuerza existentes entre los
                            actores y permite diferenciar a los actores según su mayor o menor capacidad
                            para condicionar las actuaciones de los demás, al igual que su mayor o menor
                            dependencia respecto a ellos (Castro y Perestrelo, 2000).</p><br>
                        <p>
                            Los actores con coeficiente ri mayor poseen una débil o nula dependencia respecto
                            a los otros actores y por lo tanto corresponden a los actores clave
                            del estudio, ya que ejercen mayor influencia por su poder o liderazgo.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
    {% endif %}

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor_objetivo_matriz.js'%}"></script>
{% endblock %}

{% endblock %}

