{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
    {% if usuario != '' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if usuario != '' and usuario != 'COORDINADOR' %}

        <!--MATRIZ MIDI------------------------------------------------------------------------------------------------->
        <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wgreen">
                            <div class="widget-head">
                                <div class="pull-left">MIDI - Matriz de Influencias Directas e Indirectas</div>
                                <div class="widget-icons pull-right">
                                    {% if valores_midi %}
                                     <select name="graficos_midi" class="form-control" onchange="location = this.value;">
                                        <option value="">Análisis MIDI</option>
                                        <option value="{% url 'mactor:mapa_actores' estudio.id %}">Mapa de actores</option>
                                        <option value="{% url 'mactor:matriz_ri' estudio.id %}">Coeficiente de fuerza Ri</option>
                                        <option value="{% url 'mactor:estabilidad' estudio.id %}">Coeficiente de estabilidad H</option>
                                         {% if usuario == 'COORDINADOR_EXPERTO' %}
                                        <option value="{% url 'mactor:consenso_influencias' estudio.id 2 %}">Consenso MIDI</option>
                                         {% endif %}
                                     </select>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <table class="table table-bordered" id="tabla2">
                                    <thead>
                                        <tr>
                                            {% if actores and valores_midi %}
                                                <input style='text-align: center;'  type="text" size="4" readonly value="">
                                                    {% for actor in actores %}
                                                        <input id="act{{actor.id}}" style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text"
                                                               title="{{actor.nombreLargo|upper}}" size="4"
                                                               value="{{actor.nombreCorto}}" data-toggle="modal"
                                                               href="#modal_Consultar_actor">
                                                    {% endfor %}
                                                <input style='text-align: center; background-color: #5e5e5e; color: white' readonly  type="text" size="4" title="INFLUENCIA DIRECTA E INDIRECTA" value="I.DI">
                                            {% endif %}
                                            <br>
                                         </tr>
                                    </thead>
                                    <tbody>
                                    {%if valores_midi %}
                                    <tr>
                                        {% for i in valores_midi %}
                                            <!--Inserta el ultimo valor antes del salto de linea-->
                                            {% if i.posicion == posicion_salto %}
                                                <input style='text-align: center;' readonly type="text" size="4" value="{{i.valor}}" title="{{i.descripcion}}">
                                                <br>

                                            <!--Inserta los nombres cortos en el eje Y-->
                                            {% elif i.posicion == 0 %}
                                                        {% if i.valor != 'D.DI' %}
                                                               <input id="mid{{i.valor}}" style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="4" title="{{i.descripcion|upper}}" value="{{i.valor}}"
                                                                    data-toggle="modal" href="#modal_Consultar_actor">
                                                        {% else %}
                                                                <input style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="4" title="{{i.descripcion|upper}}" value="{{i.valor}}">
                                                        {% endif %}

                                            <!--Inserta los valores ubicados entre la primera y ultima celda-->
                                            {% else %}
                                                <input style='text-align: center;' readonly type="text" size="4" value="{{i.valor}}" title="{{i.descripcion}}">
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <h3>Finalice el registro de las influencias directas para visualizar la matriz MIDI.</h3>
                                    {% endif %}
                                            <br>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!--BOTONES---------------------------------------------------------------------------------------------------->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mid' estudio.id %}" title="Matriz MID"><i class="fa fa-arrow-left"></i> Atrás</a>
                <a class="btn btn-primary" data-toggle="modal" href="#myModal" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                <a class="btn btn-primary" href="{% url 'mactor:matriz_maxima' estudio.id %}" title="Matriz Máxima"><i class="fa fa-table"></i> MAX</a>
                <a class="btn btn-primary" href="{% url 'mactor:matriz_balance' estudio.id %}" title="Matriz de Balance Líquido"><i class="fa fa-table"></i> BL</a>
            </div>
        </div>

        <!--INICIO MODAL CONSULTAR ACTOR------------------------------------------------------------------------------->

                    {% include 'actor/modal_detalle_actor.html' %}

        <!--INICIO MODAL AYUDA----------------------------------------------------------------------------------------->

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title">Ayuda -  Matriz MIDI</h4>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        <p>La Matriz de Influencias Directas e Indirectas (MIDI), calculada a partir de MID, permite
                            tener en cuenta en el análisis la influencia que los actores reciben de forma indirecta, ya
                            que un actor puede afectar a otro actuando sobre un tercero.
                        </p>
                        <br>
                        <p>La columna Influencia Directa e Indirecta (I.DI), representa la influencia total (directa e
                            indirecta) que el actor ejerce en el grupo de actores estudiado. Mientras que la fila
                            Dependencia Directa e Indirecta (D.DI), la influencia total que el resto de actores ejerce
                            sobre ese actor.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos en este estudio.</h2>
    {% endif %}
{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor_objetivo_matriz.js'%}"></script>
{% endblock %}

{% endblock %}