<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
          <!--INICIO MODAL AYUDA--------------------------->
                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
									<h4 class="modal-title">Ayuda -  Influencias Directas</h4>
								</div>
								<div class="modal-body" style="text-align: justify">
									<p>Esta fase del estudio corresponde al registro de las influencias directas
										entre los actores, a partir de la tabla de estrategias elaborada anteriormente.
										Se definen cinco niveles de relaciones entre los actores según el grado de influencia
										así: un actor tiene poca o ninguna influencia sobre otro (0), un actor puede poner
										en riesgo de forma limitada los procesos operativos de gestión de otro (1), un actor
										puede poner en riesgo el éxito de los proyectos de otro actor (2), un actor puede
										poner en riesgo el cumplimiento de las misiones de otro actor (3) y por último un
										actor puede poner en riesgo la existencia o permanencia de otro (4) (Godet y Durance,
										2009).</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
								</div>
							</div>
						</div>
                    </div>

		  <!--INICIO MODAL FICHA ACTOR------------------->
					<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 id="mod_title" class="modal-title">Ficha de estrategias</h4>
                                </div>
                                <div id="mod_body" class="modal-body" style="text-align: justify"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

</body>
</html>