{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
<input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
{% endblock %}

{% block content %}

<div class="matter">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="widget wgreen">
              						<div class="widget-head">
									  <div class="pull-left">Agregar ficha de Estrategias</div>
									  <div class="clearfix"></div>
									</div>
									<div class="widget-content">
									  <div class="padd">

										<hr />
										<!-- Form starts.  -->
                                        {% if usuario == 'COORDINADOR' %}
											<form class="form-horizontal" role="form" method="post" id="form_ficha">
                                            {% csrf_token %}


												<div class="col-md-3 col-md-offset-1" hidden>
                                                	<div  class="row">
                                                		<div class="form-group">
															<input class="form-control" type="number" value="{{estudio.id}}" name="idEstudio">
														</div>
                                                	</div>
                                                </div>

												<div class="row">
													<div class="col-md-7 col-md-offset-1">
                                                		<div class="form-group">
                                                    		{{form.idActorY.errors}}
												  			<label class="control-label" style="text-align: left">Estrategias del actor</label>
																	<select name="idActorY" class="form-control" required id="id_idActorY">
  																		{% if actores %}
																			<option value="" selected>----Seleccionar----</option>
																			{% for actor in actores %}
																			<option value="{{actor.id}}">{{actor.nombreCorto}} - {{actor.nombreLargo}}</option>
																			{% endfor %}
                                                                        {% else %}
                                                                         <option value="" selected>----NO SE HAN REGISTRADO ACTORES EN ESTE ESTUDIO----</option>
																		{% endif %}
																	</select>
														</div>
													</div>
												</div>

                                                 <!--DIV DESCRIPCION DEL ACTOR Y-->
												<div class="row">
													<div class="col-md-7 col-md-offset-1">
														<div id="info"></div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-7 col-md-offset-1">
												        <div class="form-group">
													        {{form.idActorX.errors}}
												            <label class="control-label" style="text-align: left">Sobre el actor</label>
																	<select name="idActorX" class="form-control" required id="id_idActorX">
																		{% if actores %}
																			<option value="" selected>----Seleccionar----</option>
																			{% for actor in actores %}
																			<option value="{{actor.id}}">{{actor.nombreCorto}} - {{actor.nombreLargo}}</option>
																			{% endfor %}
                                                                        {% else %}
                                                                         <option value="" selected>----NO SE HAN REGISTRADO ACTORES EN ESTE ESTUDIO----</option>
																		{% endif %}
																	</select>

												        </div>
													</div>
                                                </div>

                                                <!--DIV DESCRIPCION DEL ACTOR X-->
												<div class="row">
													<div class="col-md-7 col-md-offset-1">
														<div id="info2"></div>
													</div>
												</div>

                                                <div class="row">
                                                    <div class="col-md-7 col-md-offset-1">
												        <div class="form-group">
												            <label class="control-label" style="text-align: left">Estrategias</label>
												            {{form.estrategia}}
												        </div>
                                                    </div>
                                                </div>


												<div class="form-group">
												  <div class="col-md-offset-2 col-md-8">
													  <a class="btn btn-sm btn-success" href="{%url 'mactor:lista_fichas' estudio.id%}"><i class="fa fa-arrow-left"></i> Atrás</a>
													  <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Guardar</button>
													  <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
												  </div>
												</div>
											</form>
										{% else %}
										  <h2>NO TIENE PERMISOS PARA AGREGAR FICHAS DE ESTRATEGIAS</h2>
										{% endif %}


<!--INICIO MODAL AYUDA--------------------------->
                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
								     <div class="modal-content">
								     <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title">Ayuda</h4>
								     </div>
								     <div class="modal-body" style="text-align: justify">
									<p>Ingrese los planes, motivaciones, limitaciones y  medios de acción de cada actor (Elaborar la tabla de la "estrategia de los actores").
									La información de la influencia de un actor sobre si mismo corresponde a una "tarjeta de identidad" que puede incluir información asociada
                                    a las metas, fortalezas, debilidades del actor, siendo estos registros generalmente los mas completos. Por el contrario, muchas de las
                                    acciones de un actor hacia otro se encuentran casi o totalmente vacías, estas describen los medios de acción que cada actor puede utilizar
									contra los otros a fin de alcanzar sus metas. </p>
								     </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
								  </div>
								    </div>
								</div>
                    </div>

									  </div>
									</div>
								</div>


							</div>
						</div>
					</div>
</div>

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_consultas/consultar_desc_actor.js'%}"></script>
<script src="{% static 'js_mactor_consultas/desactivar_opciones_select.js'%}"></script>
{% endblock %}

<!--Desactiva el segundo select hasta que se seleccione una opcion en el primero-->
<script type="text/javascript">
	document.getElementById("id_idActorX").disabled = true;
</script>

{% endblock %}