{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% if request.user.is_superuser %}
        Bienvenido: {{user.username}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
        <div class="matter">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="widget wgreen">
              						<div class="widget-head">
									  <div class="pull-left">Formulario - Editar Estudio MACTOR</div>
									  <div class="clearfix"></div>
									</div>
									<div class="widget-content">
									  <div class="padd">

										<hr />
										<!-- Form starts.  -->

											<form class="form-horizontal" role="form" method="post">
                                            {% csrf_token %}

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            {{form.titulo.errors}}
                                                            <label class="control-label" style="text-align: left">Título</label>
                                                            {{form.titulo}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label class="control-label" style="text-align: left">Descripción</label>
                                                          {{form.descripcion}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label class="control-label" style="text-align: left">Coordinador</label>
                                                          {{form.idCoordinador}}
                                                        </div>
                                                    </div>
                                                </div>

												<div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label class="control-label" style="text-align: left">Expertos</label>
                                                          {{form.idExpertos}}
                                                        </div>
                                                    </div>
                                                </div>

												<div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label style="text-align: left" class="control-label">Fecha Inicio</label>
                                                            <br>
                                                            {{form.fecha_inicio}}
                                                            <br>
                                                            <!--<input type="date" name="fecha_inicio">-->
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <br>

                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label style="text-align: left"  class="control-label">Fecha Final</label>
                                                            <br>
                                                            {{form.fecha_final}}
                                                            <br>
                                                            <!--<input  type="date" name="fecha_final">-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">   
                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                            {% if informe is True %}
                                                                <h5>El informe final ha sido redactado</h5>
                                                            {% else %}
                                                                <h5>El informe final no ha sido redactado</h5>    
                                                            {% endif %} 
                                                            <label style="text-align: left"  class="control-label">Estado</label>
                                                            <br>
                                                            {{form.estado}}
                                                        </div>
                                                    </div>

                                                    <div class="col-md-8 col-md-offset-1">
                                                        <div class="form-group">
                                                          <label class="control-label" style="text-align: left">Proyecto</label>
                                                            <br>
                                                          {{form.idProyecto}}
                                                        </div>
                                                    </div>
                                                 </div>

												<div class="form-group">
												  <div class="col-md-8 col-md-offset-3">
													<button type="submit" class="btn btn-primary pull-right">Guardar
														<i class="fa fa-check"></i>
													</button>
												  </div>
												</div>
											</form>

									  </div>
									</div>
								</div>


							</div>
						</div>
					</div>
</div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
    {% endif %}
   
{% endblock %}


