<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--INICIO MODAL VER--------------------------->

            <div id="modal_Consultar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
							<h4 class="modal-title">Detalle del Estudio</h4>
						</div>
						<div id="mod_body" class="modal-body" style="text-align: justify"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
						</div>
					</div>
				</div>
			</div>


    <!--INICIO MODAL AYUDA--------------------------->

		<div id="modal_Ayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
						<h4 class="modal-title">Ayuda - Lista de estudios MACTOR</h4>
					</div>
					<div class="modal-body" style="text-align: justify">
						<p>En la presente ventana se visualizan los estudios MACTOR dentro de los cuales
							usted participa mediante el rol de:
							<br>
							<br>
							<i class="fa fa-check"></i> Administrador: encargado de crear y finalizar el estudio.
							<br>
							<i class="fa fa-check"></i> Coordinador: responsable de registrar las entradas necesarias
							para el desarrollo del estudio(actores, objetivos y fichas de estrategia) y redactar el
							informe final de acuerdo al consenso entre los expertos.
							<br>
							<i class="fa fa-check"></i> Experto: encargado de diligenciar las matrices necesarias para
							el análisis de las convergencias y divergencias entre los actores respecto a los objetivos
							estudiados.
							<br>
							<br>
							Nota: Un administrador puede ocupar dentro de un estudio los tres roles descritos, asi como
							el coordinador designado puede hacer parte del grupo de expertos.
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
</body>
</html>