<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <! INICIO MODAL VER--------------------------->

            <div id="modal_Consultar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
								     <div class="modal-content">
								     <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
									<h4 class="modal-title">Detalle del Estudio</h4>
								     </div>
								     <div id="mod_body" class="modal-body" style="text-align: justify"></div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
								  </div>
								    </div>
								</div>
                    </div>


    <! INICIO MODAL AYUDA--------------------------->

              <div id="modal_Ayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
								     <div class="modal-content">
								     	<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
											<h4 class="modal-title">Ayuda - El Método MACTOR</h4>
								     	</div>
								     	<div class="modal-body" style="text-align: justify">
											<p>MACTOR significa “Matriz de Alianzas y Conflictos: Tácticas, Objetivos y
												Recomendaciones”. Fue desarrollado por  el Laboratorio de Innovación,
												Prospectiva Estratégica y Organizacional (LIPSOR) del CNAM de París a
												mediados de los ochenta.
												El objetivo del método es estimar la correlación de fuerzas que existen
												entre los actores y estudiar sus convergencias y divergencias con
												respecto a determinados retos y objetivos asociados.</p>
								     	</div>
										 <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
								  		</div>
									 </div>
								</div>
                    </div>
</body>
</html>