{% extends 'base\baseMactor.html' %}

{% block pull-left %}
<h2> Finalizar estudio MACTOR</h2>
{% endblock %}

{% block content %}

<div class="matter">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="widget wgreen">
              						<div class="widget-head">
									  <div class="pull-left">Formulario</div>
									  <div class="clearfix"></div>
									</div>
									<div class="widget-content">
									  <div class="padd">

										<hr />
										<!-- Form starts.  -->

											<form class="form-horizontal" role="form" method="post">
                                            {% csrf_token %}

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                		<div id="titulo" class="form-group">
															{{form.titulo.errors}}
												  			<label class="control-label">Título</label>
                                                    		{{form.titulo}}
														</div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
												<div class="form-group">
												  <label class="control-label">Descripción</label>
												  {{form.descripcion}}
												</div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
												<div class="form-group">
												  <label class="control-label">Coordinador</label>
												  {{form.idCoordinador}}
												</div>
                                                    </div>
                                                </div>

												<div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
												<div class="form-group">
												  <label class="control-label">Expertos</label>
												  {{form.idExpertos}}
												</div>
                                                    </div>
                                                </div>

												<div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
												<div class="datepicker">
												  <label class="control-label">Fecha inicio</label>
												  {{form.fecha_inicio}}
												</div>
                                                    </div>

                                                    <div class="col-md-8 col-md-offset-1">
												<div class="datepicker">
												  <label class="control-label">Fecha final</label>
												  {{form.fecha_final}}
												</div>
                                                    </div>

												</div>

												<div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
												<div class="form-group">
												  <label class="control-label">Estado</label>
												  {{form.estado}}
												</div>
                                                    </div>


                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
												<div class="form-group">
												  <label class="control-label">Proyecto</label>
												 {{form.idProyecto}}
												</div>
                                                    </div>
                                                </div>
												</div>

												<div class="form-group">

												  <div class="col-md-8 col-md-offset-3">
													<button type="submit" class="btn btn-primary pull-right">Guardar
														<i class="fa fa-check"></i>
													</button>
												  </div>
												</div>
											</form>


									  </div>
									</div>
								</div>


							</div>
						</div>
					</div>
</div>

<script type="text/javascript">
    document.getElementById("id_titulo").disabled = true;
    document.getElementById("id_descripcion").disabled = true;
    document.getElementById("id_idCoordinador").disabled = true;
    document.getElementById("id_idExpertos").disabled = true;

</script>

{% endblock %}


