{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != '' %}
         {% if expertos %}
		<input hidden class="col-sm-1" type="number" name="idEstudio" value="0{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% else %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% endif %}
{% endif %}
{% endblock %}

{% block content %}

        {% include 'js_histogramas_planos.html' %}

 {% if usuario != '' %}
        <br>
		<div style="width: 75%">
        	<canvas id="canvas"></canvas>
    	</div>

        <script>
            var idEstudio = $('input[name="idEstudio"]').val();
            var influencias = []
			var dependencias = []
            var lista_labels = []

			// se obtienen los datos a graficar
			$.ajax(
                        {
                            data : {'estudio': idEstudio},
                            url: 'datos_histograma_mid',
                            type: 'get',
                            success: function (data)
                            {
                                var object = JSON.parse(data);

                                for(var i=0; i<object.labels.length; i++)
                                {
                                    lista_labels.push(object.labels[i])
                                }
                                for(var j=0; j<object.influencias.length; j++)
                                {
                                    influencias.push(object.influencias[j])
									dependencias.push(object.dependencias[j])
                                }
                                generar()
                            },
                             error: function()
                             {
                                 console.log("Error no se puede graficar")
                             }
                        });

            // se asignan los valores a graficar
			var barChartData = {
				labels: lista_labels,
				datasets: [{
					label: 'Influencia',
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					data: influencias
				}, {
					label: 'Dependencia',
					backgroundColor: 'rgba(255,99,132,1)',
					data: dependencias
				}]
			};

			// Funcion que genera la grafica
			function generar () {
				var ctx = document.getElementById("canvas").getContext("2d");
				window.myBar = new Chart(ctx, {
					type: 'bar',
					data: barChartData,
					options: {
						title:{
							display:true,
							text:"Histograma Influencia - Dependencia MID"
						},
						tooltips: {
							mode: 'index',
							intersect: false
						},
						responsive: true,
						scales: {
							xAxes: [{
								stacked: true,
							}],
							yAxes: [{
								stacked: true
							}]
						}
					}
				});
			};

            </script>
<br>
{% if expertos %}
    <p><h5>Expertos en concenso = {{expertos}}</h5></p>
    <br>
{% endif %}
<br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                {% if expertos %}
                <a class="btn btn-sm btn-success" href="{% url 'mactor:concenso_influencias' estudio.id 1 %}"><i class="fa fa-arrow-left"></i> Atrás</a>
                {% else %}
                <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mid' estudio.id %}"><i class="fa fa-arrow-left"></i> Atrás</a>
                {% endif %}
                <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
            </div>
        </div>
{% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
{% endif %}

{% endblock %}