{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != '' %}
		 {% if expertos %}
		<input hidden class="col-sm-1" type="number" name="idEstudio" value="0{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% else %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
        {% endif %}
{% endif %}
{% endblock %}

{% block content %}

        {% include 'js_histogramas_planos.html' %}

{% if usuario != '' %}
		<div style="width: 60%">
        	<canvas id="canvas"></canvas>
    	</div>

        <script>

            var idEstudio = $('input[name="idEstudio"]').val();
            var lista_parejas = []
            var lista_colores = [   'rgb(255, 0, 0)',
                                    'rgb(255, 255, 0)',
                                    'rgb(244, 164, 96)',
                                    'rgb(128, 0, 128)',
                                    'rgb(106, 90, 205)',
                                    'rgb(173, 255, 47)',
                                    'rgb(0, 100, 0)',
                                    'rgb(128, 128, 0)',
                                    'rgb(0, 255, 255)',
                                    'rgb(139, 0, 0)',
                                    'rgb(255, 215, 0)',
                                    'rgb(230, 230, 250)',
                                    'rgb(75, 0, 130)',
                                    'rgb(128, 128, 128)',
                                    'rgb(0, 0, 0)',
                                ]

			// se obtienen los datos a graficar
			$.ajax(
			    {
                    data : { 'estudio': idEstudio },
                    url: 'datos_plano_midi',
                    type: 'get',
                    success: function (data)
                    {
                        var object = JSON.parse(data);

                        for(var j=0; j<object.valores_ejeX.length; j++)
                        {
                            var pareja = {
                                label: object.labels[j],
                                borderColor: lista_colores[j],
                                backgroundColor: lista_colores[j],
                                data: [{
                                    x: object.valores_ejeX[j],
                                    y: object.valores_ejeY[j],
                                       }]
                                        };
                            lista_parejas.push(pareja);
                        }
                        generar();
                    },
                    error: function()
                    {
                        console.log("Error no se puede graficar")
                    }
                });

			// Asignación de los valores a graficar
			var scatterChartData =
                {
            datasets: lista_parejas
                };

			// Funcion que genera la grafica
			function generar ()
            {
				var ctx = document.getElementById("canvas").getContext("2d");
				window.myScatter = Chart.Scatter(ctx,
                    {
                    data: scatterChartData,
                    options: {
                        title: {
                            display: true,
                            text: 'Mapa de Influencias y Dependencias entre Actores'
                               },
                        scales:{
	            	        xAxes: [{
	            		    scaleLabel: {
	            			labelString: 'Influencia',
	            			display: true,
	            		                }
	            	                }],
	            	        yAxes: [{
	            		    scaleLabel: {
	            			labelString: 'Dependencia',
	            			display: true
	            		                }
	            	                }]
	                            }
                            }
                    });
			};
     </script>

         {% if usuario != 'EXPERTO' and expertos %}
        <p><h5>Expertos en consenso = {{expertos}}</h5></p>
        {% endif %}
<br>
<br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <a class="btn btn-sm btn-success" href="{%url 'mactor:matriz_midi' estudio.id %}" title="Matriz MIDI"><i class="fa fa-arrow-left"></i> Atrás</a>
                <a class="btn btn-primary" data-toggle="modal" href="#myModal" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
            </div>
        </div>

         <!--INICIO MODAL AYUDA----------------------------------------------------------------------------------------->

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title">Ayuda - Mapa de influencia - dependencia</h4>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        <p>El mapa de influencias y dependencias, permite analizar de forma rápida la competencia entre
                            los actores estudiados.
                        </p>
                        <br>
                        <p>De acuerdo a este se tiene que:<br>
                            <i class="fa fa-check"></i> El cuadrante superior izquierdo, corresponde a actores dependientes.<br>
                            <i class="fa fa-check"></i> El cuadrante superior derecho, abarca a actores muy influyentes y muy dependientes.<br>
                            <i class="fa fa-check"></i> El cuadrante inferior derecho, corresponde a los actores muy influyentes del estudio.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


{% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
{% endif %}

{% endblock %}