<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wgreen">
                            <div class="widget-head">
                                 <div class="pull-left">Concenso - Matriz de Influencias Directas e Indirectas</div>
                                <div class="widget-icons pull-right">
                                    {% if valores_midi %}
                                     <select name="graficos_midi" class="form-control" onchange="location = this.value;">
                                        <option value="">Análisis MIDI</option>
                                        <option value="{% url 'mactor:mapa_actores' estudio.id %}">Mapa de actores</option>
                                        <option value="{% url 'mactor:matriz_ri' estudio.id %}">Coeficiente de fuerza Ri</option>
                                        <option value="{% url 'mactor:estabilidad' estudio.id %}">Coeficiente de estabilidad H</option>
                                     </select>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <table class="table table-bordered" id="tabla2">
                                    <thead>
                                        <tr>
                                            {% if actores and valores_midi %}
                                                <input style='text-align: center;'  type="text" size="4" readonly value="">
                                                    {% for actor in actores %}
                                                        <input id="ver{{actor.id}}" style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text"
                                                               title="{{actor.nombreLargo|upper}}" size="4"
                                                               value="{{actor.nombreCorto}}" data-toggle="modal"
                                                               href="#modal_Consultar_actor">
                                                    {% endfor %}
                                                <input style='text-align: center; background-color: #5e5e5e; color: white' readonly  type="text" size="4" title="INFLUENCIA DIRECTA E INDIRECTA" value="I.DI">
                                            {% endif %}
                                            <br>
                                         </tr>
                                    </thead>
                                    <tbody>
                                    {%if valores_midi %}
                                    <tr>
                                        {% for i in valores_midi %}
                                            <!--Inserta el ultimo valor antes del salto de linea-->
                                            {% if i.posicion == posicion_salto %}
                                                <input style='text-align: center;' readonly type="text" size="4" value="{{i.valor}}" title="{{i.descripcion}}">
                                                <br>
                                            <!--Inserta los nombres cortos en el eje Y-->
                                            {% elif i.posicion == 0 %}
                                                        {% if i.valor != 'D.DI' %}
                                                               <input id="daa{{i.valor}}" style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="4" title="{{i.descripcion|upper}}" value="{{i.valor}}"
                                                                    data-toggle="modal" href="#modal_Consultar_actor">
                                                        {% else %}
                                                                <input style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="4" title="{{i.descripcion|upper}}" value="{{i.valor}}">
                                                        {% endif %}
                                            <!--Inserta los valores midi posteriores al nombre corto en Y y previos a la ultima celda-->
                                            {% else %}
                                                <input style='text-align: center;' readonly type="text" size="4" value="{{i.valor}}" title="{{i.descripcion}}">
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <h3>Ningún experto a finalizado el registro de las influencias directas.</h3>
                                    {% endif %}
                                            <br>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>
</html>