{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != 'EXPERTO' %}
		<input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
	{% endif %}
{% endblock %}

{% block content %}
	{% if usuario != '' and usuario != 'EXPERTO' %}
		<div class="matter">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="widget wblue">
              						<div class="widget-head">
									  <div class="pull-left">Concenso - Indicador de Estabilidad de las Relaciones entre Actores</div>
									  <div class="clearfix"></div>
									</div>
									<div class="widget-content">
									  <div class="padd">

										<hr />
										<!------------------------- Form starts. ------------------->
											<form class="form-horizontal" role="form">

                                                <div class="row">
                                                    <div class="col-md-7 col-md-offset-1">
												        <div class="form-group">
                                                            <h2>H = {{indicador}}%</h2>
												        </div>
                                                    </div>
                                                </div>
											</form>
									  </div>
									</div>
								</div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-8">
                                            <a class="btn btn-sm btn-success" href="{%url 'mactor:concenso_influencias' estudio.id 2%}"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
</div>

		<p><h5>Número de expertos en concenso = {{expertos}}</h5></p>
        <br>
	{% else %}
		<img src="{% static 'img/acceso_denegado.png' %}">
		<h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
	{% endif %}

{% endblock %}