{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
    {% if usuario != '' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if usuario != '' and usuario != 'EXPERTO' %}

        <!--MATRIZ 1CAA------------------------------------------------------------------------------------------------->
         <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wblue">
                            <div class="widget-head">
                                 <div class="pull-left">Consenso - Matriz de Convergencias {{numero_matriz}}CAA</div>
                                {% if actores %}
                                <div class="widget-icons pull-right">
                                    <select name="caa" class="form-control" onchange="location = this.value;">
                                        <option value="">Análisis CAA</option>
                                        <option value="{% url 'mactor:consenso_caa_daa' estudio.id numero_matriz 4%}">Grafo de Convergencias</option>
                                        <option value="{% url 'mactor:consenso_caa_daa' estudio.id numero_matriz 3%}">Histograma CAA - DAA</option>
                                    </select>
                                </div>
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <table class="table table-bordered" id="tabla1">
                                    <thead>
                                            <tr>
                                                {%if actores %}
                                                    <input style='text-align: center;'  type="text" size="3" readonly value="">
                                                    {% for actor in actores %}
                                                        <input id="act{{actor.id}}" style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text"
                                                               title="{{actor.nombreLargo|upper}}" size="3" value="{{actor.nombreCorto}}"
                                                               data-toggle="modal" href="#modal_Consultar_actor">
                                                    {% endfor %}
                                                {% endif %}
                                                <br>
                                             </tr>
                                    </thead>
                                    <tbody>
                                        {% if valores_caa %}
                                        <tr>
                                            {% for i in valores_caa %}
                                                <!-- Inserta el ultimo valor de la fila antes del salto de linea-->
                                                {% if i.posicion == posicion_salto_caa_daa %}
                                                    <input style='text-align: center;' readonly type="text" size="3"
                                                           title="{{i.descripcion}}" value="{{i.valor}}">
                                                    <br>
                                                <!--Inserta los nombres cortos en el eje Y-->
                                                {% elif i.posicion == 0 %}
                                                        {% if i.valor != 'Ci' %}
                                                               <input id="str{{i.valor}}" style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="3" title="{{i.descripcion|upper}}" value="{{i.valor}}"
                                                                    data-toggle="modal" href="#modal_Consultar_actor">
                                                        {% else %}
                                                                <input style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="3" title="{{i.descripcion|upper}}" value="{{i.valor}}">
                                                        {% endif %}
                                                {% else %}
                                                <!--Inserta los valores caa posteriores al nombre y previos al valor de la ultima celda-->
                                                    <input style='text-align: center;' readonly type="text" size="3"
                                                           title="{{i.descripcion}}"  value="{{i.valor}}">
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                             <h3>{{mensaje}}</h3>
                                        {% endif %}
                                            <br>
                                        </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% if expertos %}
        <p><h5>Expertos en consenso = {{expertos}}</h5></p>
        {% else %}
        <p><h5>Ningún experto ha finalizado la matriz {{numero_matriz}}MAO.</h5></p>
        {% endif %}
        <br>
        <br>

        <!--MATRIZ 1DAA------------------------------------------------------------------------------------------------->

        <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wblue">
                            <div class="widget-head">
                                 <div class="pull-left">Consenso - Matriz de Divergencias - {{numero_matriz}}DAA</div>
                                {% if actores %}
                                <div class="widget-icons pull-right">
                                    <select name="idObjetivoX" class="form-control" onchange="location = this.value;">
                                        <option value="">Análisis DAA</option>
                                        <option value="{% url 'mactor:consenso_caa_daa' estudio.id numero_matriz 5%}">Grafo de Divergencias</option>
                                        <option value="{% url 'mactor:consenso_caa_daa' estudio.id numero_matriz 3%}">Histograma CAA - DAA</option>
                                    </select>
                                </div>
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <table class="table table-bordered" id="tabla3">
                                    <thead>
                                            <tr>
                                                {%if actores %}
                                                 <input style='text-align: center;'  type="text" size="3" readonly value="">
                                                    {% for actor in actores %}
                                                    <input id="ver{{actor.id}}" style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text"
                                                               title="{{actor.nombreLargo|upper}}" size="3" value="{{actor.nombreCorto}}"
                                                               data-toggle="modal"
                                                               href="#modal_Consultar_actor">
                                                    {% endfor %}
                                                {% endif %}
                                                <br>
                                             </tr>
                                    </thead>
                                    <tbody>
                                        {% if valores_daa %}
                                        <tr>
                                            {% for i in valores_daa %}
                                                <!--Inserta el ultimo valor de la fila antes del salto de linea-->
                                                {% if i.posicion ==  posicion_salto_caa_daa %}
                                                    <input style='text-align: center;' readonly type="text" size="3"
                                                           title="{{i.descripcion}}" value="{{i.valor}}">
                                                    <br>
                                                <!--Inserta los nombres cortos-->
                                                {% elif i.posicion == 0 %}
                                                        {% if i.valor != 'Di' %}
                                                               <input id="daa{{i.valor}}" style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="3" title="{{i.descripcion|upper}}" value="{{i.valor}}"
                                                                    data-toggle="modal" href="#modal_Consultar_actor">
                                                        {% else %}
                                                                <input style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="3" title="{{i.descripcion|upper}}" value="{{i.valor}}">
                                                        {% endif %}
                                                <!--Inserta los valores daa posteriores al nombre y previos al valor de la ultima fila-->
                                                {% else %}
                                                    <input style='text-align: center;' readonly type="text" size="3"
                                                           title="{{i.descripcion}}" value="{{i.valor}}">
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <h3>{{mensaje}}</h3>
                                        {% endif %}
                                            <br>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        {% if expertos %}
        <p><h5>Expertos en consenso = {{expertos}}</h5></p>
        {% else %}
        <p><h5>Ningún experto ha finalizado la matriz {{numero_matriz}}MAO.</h5></p>
        {% endif %}

        <!--BOTONES----------------------------------------------------------------------------------------------------->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                {% if usuario == 'COORDINADOR_EXPERTO' %}
                <a class="btn btn-sm btn-success" href="{% url 'mactor:caa_daa' estudio.id numero_matriz%}"><i class="fa fa-arrow-left"></i> Atrás</a>
                {% else %}
                <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mao' estudio.id numero_matriz%}"><i class="fa fa-arrow-left"></i> Matriz {{numero_matriz}}MAO</a>
                {% endif %}
                <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                <a class="btn btn-primary" data-toggle="modal" href="{%url 'mactor:consenso_caa_daa' estudio.id numero_matriz 2%}"><i class="fa fa-area-chart"></i> Mapa</a>
            </div>
        </div>

        <!--INICIO MODAL CONSULTAR ACTOR Y OBJETIVO--------------------------------------------------------------------->

        {% include 'actor/modal_detalle_actor.html' %}

        <!--MODAL AYUDA------------------------------------------------------------------------------------------>
         <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                         <h4 class="modal-title">Ayuda - Matrices de convergencia y divergencia</h4>
                     </div>
                     <div class="modal-body" style="text-align: justify">
                         <p>A partir de cada  matriz MAO se calculan las siguientes matrices:<br>
                             <i class="fa fa-check"></i> CAA, que se obtiene por el producto de la matriz que
                             contiene sólo productos escalares positivos, y representa el número de objetivos
                             respecto a los cuales un par de actores tiene una actitud convergente, ya sea
                             favorable o desfavorable.<br>
                             <i class="fa fa-check"></i>DAA, que se obtiene por el producto de la matriz que
                             contiene sólo productos escalares negativos, lo que representa el número de
                             objetivos respecto de los cuales el par de actores tiene una actitud divergente.
                         </p>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                     </div>
                 </div>
             </div>
         </div>

    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
    {% endif %}

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor_objetivo_matriz.js'%}"></script>
{% endblock %}

{% endblock %}

