<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

	<form class="form-horizontal" role="form" method="get" id="formulario" >


                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
														<div class="form-group">
												  			<label class="control-label" style="text-align: left">Nombre Largo</label><br>
                                                    		<input id="nombreLargo2" class="col-md-8 col-md-offset-1" type="text" name="nombreLargo2">
														</div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                		<div class="form-group">
														  	<label class="control-label" style="text-align: left">Nombre Corto</label><br>
                                                            <input id="nombreCorto2" class="col-md-8 col-md-offset-1" type="text" name="nombreCorto2">
														</div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
														<div class="form-group">
														  <label class="control-label" style="text-align: left">Descripción</label><br>
                                                            <textarea id="descripcion2" class="col-md-8 col-md-offset-1" type="text" name="descripcion2"></textarea>
														</div>
                                                    </div>
                                                </div>

    </form>
</body>
</html>