<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

	<form class="form-horizontal" role="form" method="get" id="formulario" >

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
														<div class="form-group">
												  			<label class="control-label" style="text-align: left">Nombre Largo</label><br>
                                                    		<input id="nombreLargo" class="col-md-8 col-md-offset-1" type="text" name="nombreLargo">
														</div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
                                                		<div class="form-group">
														  	<label class="control-label" style="text-align: left">Nombre Corto</label><br>
                                                            <input id="nombreCorto" class="col-md-8 col-md-offset-1" type="text" name="nombreCorto">
														</div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
														<div class="form-group">
														  <label class="control-label" style="text-align: left">Descripción</label><br>
                                                            <textarea id="descripcion" class="col-md-8 col-md-offset-1" type="text" name="descripcion"></textarea>
														</div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-1">
														<div class="form-group">
														  	<label class="control-label" style="text-align: left">Estudio</label><br>
														 	<input class="col-md-8 col-md-offset-1" type="text" value="no BD" id="idEstudio" name="idEstudio">
                                                            <!--ESTE CAMPO AUN NO INGRESA A LA BD ES LLAVE FORANEA
                                                            cambiar al solucionar: js y view-->
														</div>
                                                    </div>
                                                </div>

    </form>
</body>
</html>