{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
<input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
            <div class="col-md-12">
                <div class="widget wgreen">
                    <div class="widget-head">
                        <div class="pull-left">Lista de actores</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="text-align: center">Nombre Largo</th>
                                    <th style="text-align: center">Nombre Corto</th>
                                    <th style="text-align: center">Descripción</th>
                                    <th style="text-align: center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%if lista_actores %}
                                    {% for actor in lista_actores %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{actor.nombreLargo|upper}}</td>
                                            <td>{{actor.nombreCorto|upper}}</td>
                                            <td style="text-align: justify">{{actor.descripcion}}</td>
                                            <td>
                                                <a id="ver{{actor.id}}" class="btn btn-primary" title="Ver" data-toggle="modal" href="#myModal5"><i class="fa fa-eye"></i></a>
                                                {% if usuario == 'COORDINADOR' %}
                                                <a id="act{{actor.id}}" class="btn btn-warning .edit" title="Editar" data-toggle="modal"
                                                           href="#myModal3"><i class="fa fa-pencil"></i></a>
                                                <a href="#myModal2" role="button" class="btn btn-danger delete" title="Eliminar" data-toggle="modal"
                                                   id="{{actor.id}}" data-name="{{actor.nombreLargo}}"><i class="fa fa-times"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                <h2>No hay actores registrados</h2>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

<! SECCION DE PAGINACION ------------------------------------------------------------------->
                    <div class="widget-foot">
										<ul class="pagination pull-right">
										  <li>
                                              {% if page_obj.has_previous %}
                                              <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
                                              {% endif %}
                                          </li>

										  <li>
                                              {% if page_obj.has_next %}
                                              <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                                              {% endif %}
                                          </li>
										</ul>
										<div class="clearfix"></div>
                    </div>

                </div>
            </div>

<! BOTONES--------------------------------------------------------------------------------->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <a class="btn btn-sm btn-success" href="{%url 'mactor:lista_estudios'%}"><i class="fa fa-arrow-left"></i> Estudios</a>
                    {% if usuario == 'COORDINADOR' %}
                    <a class="btn btn-primary" data-toggle="modal" href="#myModal1" id="boton_agregar"><i class="fa fa-plus"></i> Agregar</a>
                    {% endif %}
                    <a class="btn btn-primary" data-toggle="modal" href="#myModal4"><i class="fa fa-book"></i> Ayuda</a>
                    <a class="btn btn-sm btn-success" href="{% url 'mactor:lista_fichas' estudio.id%}">Estrategias <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>

 <! INICIO MODALS CREAR, ELIMINAR, EDITAR Y AYUDA--------------------------->

        {% include 'actor/modals_CRUD_actor.html'%}

        </div>
    </div>

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/agregar/agregar_actor.js'%}"></script>
<script src="{% static 'js_mactor_modals/eliminar/eliminar_actor.js'%}"></script>
<script src="{% static 'js_mactor_modals/editar/editar_actor.js'%}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor.js'%}"></script>
{% endblock %}

{% endblock %}