{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != '' %}
		<input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
	{% endif %}
{% endblock %}

{% block content %}
	{% if usuario != '' %}
		<div class="matter">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="widget wgreen">
              						<div class="widget-head">
									  <div class="pull-left">Formulario - Matriz Valorada de Posiciones 2MAO</div>
										<div class="pull-right">{{porcentaje}}% Diligenciado</div>
									  <div class="clearfix"></div>
									</div>
									<div class="widget-content">
									  <div class="padd">

										<hr/>
					<!-- ----------------------------Form starts.  -->
											<form class="form-horizontal" role="form" method="post" id="form_2mao">
                                            {% csrf_token %}

												<div class="col-md-3 col-md-offset-1" hidden>
                                                	<div  class="row">
                                                		<div class="form-group">
															<label class="control-label">Tipo</label>
															<input class="form-control" type="number" value="2" name="tipo">
														</div>
                                                	</div>
                                                </div>

												<div class="row">
													<div class="col-md-7 col-md-offset-1">
                                                		<div class="form-group">
                                                    		{{form.idActorY.errors}}
												  			<label class="control-label" style="text-align: left">Relación del actor</label>
                                                    		<select name="idActorY" class="form-control" required id="id_idActorY">
                                                    			{% if estudio.estado is True %}
																			{% if actores %}
																				<option value="" selected>----Seleccionar----</option>
																				{% for actor in actores %}
																				<option value="{{actor.id}}">{{actor.nombreCorto}} - {{actor.nombreLargo}}</option>
																				{% endfor %}
																			{% else %}
																			 <option value="" selected>----NO SE HAN REGISTRADO ACTORES EN ESTE ESTUDIO----</option>
																			{% endif %}
																{% else %}
																	<option value="" selected>----EL PRESENTE ESTUDIO NO ESTA HABILITADO----</option>
																{% endif %}			
															</select>
														</div>
													</div>
												</div>

                                                <div class="row">
                                                    <div class="col-md-7 col-md-offset-1">
                                                        <div id="info" style="text-align: justify"></div>
                                                    </div>
                                                </div>

												<div class="row">
													<div class="col-md-7 col-md-offset-1">
														<div class="form-group">
															{{form.idObjetivoX.errors}}
												  			<label class="control-label" style="text-align: left">Sobre el objetivo</label>
                                                    		<select name="idObjetivoX" class="form-control" required id="id_idObjetivoX">
                                                    			{% if estudio.estado is True %}
																			{% if objetivos %}
																				<option value="" selected>----Seleccionar----</option>
																				{% for objetivo in objetivos %}
																				<option value="{{objetivo.id}}">{{objetivo.nombreCorto}} - {{objetivo.nombreLargo}}</option>
																				{% endfor %}
																			{% else %}
																			 <option value="" selected>----NO SE HAN REGISTRADO OBJETIVOS EN ESTE ESTUDIO----</option>
																			{% endif %}
																{% else %}
																<option value="" selected>----EL PRESENTE ESTUDIO NO ESTA HABILITADO----</option>
																{% endif %}		
															</select>
														</div>
													</div>

                                                	<div class="col-md-2 col-md-offset-1">
														<div class="form-group">
															<label class="control-label" style="text-align: left">Valor</label>
															<br>
													  		{{form.valor}}
														</div>
													</div>
												</div>

                                                <div class="row">
                                                    <div class="col-md-7 col-md-offset-1">
                                                        <div id="info2" style="text-align: justify"></div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                	<div class="col-md-7 col-md-offset-1">
														<div class="form-group">
														  <label class="control-label" style="text-align: left">Justificación</label>
														  {{form.justificacion}}
														</div>
                                                	</div>
                                                </div>

												<div  class="row">
                                                	<div class="col-md-3 col-md-offset-1" hidden>
                                                		<div class="form-group">
												  			<label class="control-label" style="text-align: left">Experto</label>
												 			<input class="form-control" type="text" value="{{user.id}}" name="idExperto">
														</div>
                                                	</div>
												</div>

												<div class="form-group">
												  <div class="col-md-offset-2 col-md-8">
													   <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mao' estudio.id 1%}"><i class="fa fa-arrow-left"></i> Matriz 1MAO</a>
                                                     	<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Guardar</button>
													  	<a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                                                      	<a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mao' estudio.id 2%}">Matriz 2MAO<i class="fa fa-arrow-right"></i></a>
												  </div>

     					</div>
											</form>
									  </div>
									</div>
								</div>


							</div>
						</div>
					</div>

</div>

	<!--INICIO MODAL AYUDA--------------------------->

		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">Ayuda - Influencias 2MAO</h4>
					</div>
					<div class="modal-body" style="text-align: justify">
						<p>En esta segunda matriz de actores por objetivos, se evalua nuevamente la actitud de cada
							actor en relación al alcance de los objetivos, indicando esta vez su posición mediante una
							escala de valores enteros que abarcan el rango -4 a 4, según si el grado de oposición o
                            acuerdo es muy alto, alto, medio o bajo, siendo los extremos del rango los niveles más
							altos de desacuerdo y acuerdo respectivamente y 0 una posición neutra (Arcade, Godet,
                            Meunier, & Roubelat, 2004).</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
    {% endif %}

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/js_mactor/consultar_desc_actor.js' %}"></script>
<script src="{% static 'js/js_mactor/consultar_desc_objetivo.js' %}"></script>
<script src="{% static 'js/js_mactor/desactivar_opciones_select_mao.js'%}"></script>
{% endblock %}

<! Desactiva el segundo select hasta que se seleccione una opcion en el primero-->
<script type="text/javascript">
	document.getElementById("id_idObjetivoX").disabled = true;
</script>

{% endblock %}