{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != '' %}
		<input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
        <input hidden class="col-sm-1" type="number" name="numero_matriz" value="{{numero_matriz}}">
{% endif %}
{% endblock %}

{% block content %}

        {% include 'js_histogramas_planos.html' %}

{% if usuario != '' %}
<br>
		<div style="width: 75%">
        	<canvas id="canvas"></canvas>
    	</div>

        <script>
            var idEstudio = $('input[name="idEstudio"]').val();
            var numero_matriz = $('input[name="numero_matriz"]').val();
            var tipo_grafico = "MOVILIZACION"
            var positivos = []
			var negativos = []
            var lista_labels = []
			// se obtienen los datos a graficar
			$.ajax(
                        {
                            data : {'numero_matriz' : numero_matriz,
                                    'estudio': idEstudio,
                                    'tipo': tipo_grafico},
                            url: 'datos_histograma',
                            type: 'get',
                            success: function (data)
                            {
                                var object = JSON.parse(data);

                                for(var i=0; i<object.labels.length; i++)
                                {
                                    lista_labels.push(object.labels[i]);
                                    positivos.push(object.valores_positivos[i]);
									negativos.push(object.valores_negativos[i]);
                                }
                                generar()
                            },
                             error: function()
                             {
                                 console.log("Error no se puede graficar")
                             }
                        });

            // se asignan los valores a graficar
			var barChartData = {
				labels: lista_labels,
				datasets: [{
					label: 'Movilización Positiva',
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					data: positivos
				}, {
					label: 'Movilización Negativa',
					backgroundColor: 'rgba(255,99,132,1)',
					data: negativos
				}]
			};

			// Funcion que genera la grafica
			function generar () {
				var ctx = document.getElementById("canvas").getContext("2d");
				window.myBar = new Chart(ctx, {
					type: 'bar',
					data: barChartData,
					options: {
						title:{
							display:true,
							text:"Movilización de los actores"
						},
						tooltips: {
							mode: 'index',
							intersect: false
						},
						responsive: true,
						scales: {
							xAxes: [{
								stacked: true,
							}],
							yAxes: [{
								stacked: true
							}]
						}
					}
				});
			};

            </script>
<br>
<h6>Matriz {{numero_matriz}}MAO.</h6>
<br>
<br>
        <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <a class="btn btn-sm btn-success" href="{%url 'mactor:matriz_mao' estudio.id numero_matriz%}"><i class="fa fa-arrow-left"></i> Atrás</a>
                            <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                            <a class="btn btn-primary" data-toggle="modal" href=""><i class="fa fa-download"></i> Descargar</a>
                        </div>
        </div>

{% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con permisos para acceder a esta página.</h2>
{% endif %}

{% endblock %}