{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	{% if usuario != '' %}
		<input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
        <input hidden class="col-sm-1" type="number" name="numero_matriz" value="{{numero_matriz}}">
{% endif %}
{% endblock %}

{% block content %}

        {% include 'js_histogramas_planos.html' %}

		<div style="width: 80%">
        	<canvas id="canvas"></canvas>
    	</div>

    <script>

            var idEstudio = $('input[name="idEstudio"]').val();
            var numero_matriz = $('input[name="numero_matriz"]').val();
            var lista_parejas = []
            var lista_colores = [   'rgb(255, 0, 0)',
                                    'rgb(255, 255, 0)',
                                    'rgb(244, 164, 96)',
                                    'rgb(128, 0, 128)',
                                    'rgb(106, 90, 205)',
                                    'rgb(173, 255, 47)',
                                    'rgb(0, 100, 0)',
                                    'rgb(128, 128, 0)',
                                    'rgb(0, 255, 255)',
                                    'rgb(139, 0, 0)',
                                    'rgb(255, 215, 0)',
                                    'rgb(230, 230, 250)',
                                    'rgb(75, 0, 130)',
                                    'rgb(128, 128, 128)',
                                    'rgb(0, 0, 0)',

                                ]

			// se obtienen los datos a graficar
			$.ajax(
			    {
                    data : {'numero_matriz' : numero_matriz,
                            'estudio': idEstudio
                            },
                    url: 'datos_mapa_caa_daa',
                    type: 'get',
                    success: function (data)
                    {
                        var object = JSON.parse(data);

                        for(var j=0; j<object.valores_ejeX.length; j++)
                        {
                            var pareja = {
                                label: object.labels[j],
                                borderColor: lista_colores[j],
                                backgroundColor: lista_colores[j],
                                data: [{
                                    x: object.valores_ejeX[j],
                                    y: object.valores_ejeY[j],
                                       }]
                                        };

                            lista_parejas.push(pareja);
                        }
                        generar()
                    },
                    error: function()
                    {
                        console.log("Error no se puede graficar")
                    }
                });

			// Asignación de los valores a graficar
			var scatterChartData =
                {
            datasets: lista_parejas
                };

			// Funcion que genera la grafica
			function generar ()
            {
				var ctx = document.getElementById("canvas").getContext("2d");
				window.myScatter = Chart.Scatter(ctx,
                    {
                    data: scatterChartData,
                    options:
                        {
                        tooltips: {
                            mode: 'y'
                                    },
                        title: {
                            display: true,
                            text: 'Mapa de Convergencias y Divergencias entre Actores'
                               },
                        scales:{
	            	        xAxes: [{
	            		    scaleLabel: {
	            			labelString: 'Divergencia',
	            			display: true,
	            		                }
	            	                }],
	            	        yAxes: [{
	            		    scaleLabel: {
	            			labelString: 'Convergencia',
	            			display: true
	            		                }
	            	                }]
	                            }
                            }
                    });
			};
     </script>

<br>
<h6>Mapa de Convergencias y Divergencias entre Actores {{numero_matriz}}CAA - {{numero_matriz}}DAA.</h6>
<br>
<br>
        <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <a class="btn btn-sm btn-success" href="{%url 'mactor:caa_daa' estudio.id numero_matriz%}"><i class="fa fa-arrow-left"></i> Atrás</a>
                            <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                            <a class="btn btn-primary" data-toggle="modal" href=""><i class="fa fa-download"></i> Descargar</a>
                        </div>
                    </div>

{% endblock %}