{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
     {% if usuario != '' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
     {% endif %}
{% endblock %}

{% block content %}
    {% if usuario != '' %}
        <!-- Matriz 2MAO-------------------------------------------------------------------------------------------------->
        <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wgreen">
                            <div class="widget-head">
                                 <div class="pull-left">2MAO - Matriz Valorada de Posiciones</div>
                                <div class="widget-icons pull-right">
                                     <select name="idObjetivoX" class="form-control" onchange="location = this.value;">
                                        <option value="">Histogramas</option>
                                        <option value="{% url 'mactor:implicacion' estudio.id 2 %}">Histograma de Implicaciones</option>
                                        <option value="{% url 'mactor:movilizacion' estudio.id 2 %}">Histograma de Movilizaciones</option>
                                         {% if usuario == 'COORDINADOR_EXPERTO' %}
                                        <option value="{% url 'mactor:consenso_mao' estudio.id 2 0%}">Consenso 2MAO</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                               {% include 'mao/table_matriz_mao.html' %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!--BOTONES----------------------------------------------------------------------------------------------------->

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <a class="btn btn-sm btn-success" href="{%url 'mactor:2mao' estudio.id%}"><i class="fa fa-arrow-left"></i> Inf. 2MAO</a>
                            <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                            <a class="btn btn-primary" id="caa_daa" href="{%url 'mactor:caa_daa' estudio.id 2%}"><i class="fa fa-table"></i> CAA-DAA</a>
                            <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mao' estudio.id 3%}">Matriz 3MAO <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>


        <!--INICIO MODAL CONSULTAR ACTOR Y OBJETIVO----------------->

                    {% include 'actor/modal_detalle_actor.html' %}

                    {% include 'objetivo/modal_detalle_objetivo.html' %}

         <!--MODAL AYUDA------------------------------------------------------------------------------------------>

                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Ayuda - Matriz Valorada de Posiciones (2MAO)</h4>
                                </div>
                                <div class="modal-body" style="text-align: justify">
                                    <p>La matriz 2MAO describe la actitud actual de cada actor mediante una escala de
                                        valores enteros que abarcan el rango -4 a 4, según si el grado de oposición o
                                        acuerdo es muy alto, alto, medio o bajo, siendo los extremos del rango los niveles
                                        mas altos de desacuerdo y acuerdo respectivamente y 0 una posición neutra (Arcade,
                                        Godet, Meunier, & Roubelat, 2004).</p><br>

                                    <p>De acuerdo a Castro y Perestrelo (2000):<br>
                                        <i class="fa fa-check"></i> La suma en fila, indica el grado de implicación de cada actor en los objetivos
                                        estudiados, es decir, el número de objetivos para los que cada actor tiene una
                                        posición activa, concordante o discordante.<br>

                                        <i class="fa fa-check"></i> La suma en columna indica el grado de movilización de los objetivos, es decir,
                                        el número de actores que tienen una posición activa, de acuerdo o desacuerdo,
                                        para cada objetivo.
                                    </p>
                                             </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                          </div>
                                            </div>
                                        </div>
                            </div>

    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
    {% endif %}

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor_objetivo_matriz.js'%}"></script>
{% endblock %}

{% if estado_matriz == 0%}
    <script type="text/javascript">
        document.getElementById("caa_daa").disabled = true;
    </script>
{% endif %}


{% endblock %}

