{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
    {% if usuario != '' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if usuario != '' %}
        <!--Matriz 3MAO-------------------------------------------------------------------------------------------------->
        <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wgreen">
                            <div class="widget-head">
                                 <div class="pull-left">3MAO - Matriz Valorada y Ponderada de Posiciones</div>
                                <div class="widget-icons pull-right">
                                    {% if estado_matriz == 1 %}
                                    <select name="histogramas" class="form-control" onchange="location = this.value;">
                                        <option value="">Histogramas</option>
                                        <option value="{% url 'mactor:implicacion' estudio.id 3 %}">Histograma de Implicaciones</option>
                                        <option value="{% url 'mactor:movilizacion' estudio.id 3 %}">Histograma de Movilizaciones</option>
                                        {% if usuario == 'COORDINADOR_EXPERTO' %}
                                        <option value="{% url 'mactor:consenso_mao' estudio.id 3 0 %}">Consenso 3MAO</option>
                                        {% endif %}
                                    </select>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                {% include 'mao/table_matriz_mao.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!--BOTONES-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mao' estudio.id 2%}" title="Matriz Valorada de Posiciones"><i class="fa fa-arrow-left"></i> Matriz 2MAO</a>
                <a class="btn btn-primary" data-toggle="modal" href="#myModal" title="Ayuda"><i class="fa fa-book"></i> Ayuda</a>
                <a id="caa_daa" class="btn btn-primary" href="{%url 'mactor:caa_daa' estudio.id 3%}" title="Matrices de convergencia y divergencia"><i class="fa fa-table"></i> CAA-DAA</a>
            </div>
        </div>

        <!--INICIO MODAL CONSULTAR ACTOR Y OBJETIVO----------------->

                    {% include 'actor/modal_detalle_actor.html' %}

                    {% include 'objetivo/modal_detalle_objetivo.html' %}

        <!--INICIO MODAL AYUDA------------------------------------->

                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Ayuda - Matriz Valorada y Ponderada de Posiciones</h4>
                                </div>
                                <div class="modal-body" style="text-align: justify">
                                    <p>
                                        Al no depender las posibles alianzas y conflictos entre los actores solo de su
                                        afinidad u oposición al desarrollo de los objetivos, sino también de la
                                        capacidad de cada uno de estos para influir sobre el resto, se lleva a cabo el
                                        cálculo de la matriz 3MAO, la cual se obtiene al multiplicar cada fila de la
                                        matriz 2MAO por el Coeficiente Ri del actor correspondiente.<br><br>

                                        Es decir mediante la matriz 3MAO, es posible analizar el nivel de convergencia y
                                        divergencia de los actores, considerando además de la aptitud actual hacia los
                                        objetivos el nivel de influencia entre los actores estudiados, evidenciándose
                                        con ello con mayor claridad las alianzas y conflictos.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
    {% endif %}

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor_objetivo_matriz.js'%}"></script>
{% endblock %}

{% endblock %}

