{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
<input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
{% endblock %}

{% block content %}

<!--Matriz 3MAO-------------------------------------------------------------------------------------------------->
<div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="widget wgreen">
                    <div class="widget-head">
                         <div class="pull-left">3MAO - Matriz Valorada y Ponderada de Posiciones</div>
                        <div class="widget-icons pull-right"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered" id="tabla1mao">
                            <thead>
                                <tr>
                                    {%if objetivos %}
                                        <input style='text-align: center;' readonly type="text" size="3" value="">
                                        {% for objetivo in objetivos %}
                                            <input id="obj{{objetivo.id}}" style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" title="{{objetivo.nombreLargo|upper}}" size="3"
                                                   data-toggle="modal" href="#modal_Consultar_objetivo" value="{{objetivo.nombreCorto}}">
                                        {% endfor %}
                                        <input style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="3" title="IMPLICACIÓN POSITIVA (ACUERDOS)" value="+">
                                        <input style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="3" title="IMPLICACIÓN NEGATIVA (DESACUERDOS)" value="-">
                                        <input style='text-align: center; background-color: #5e5e5e; color: white;' readonly type="text" size="3" title="IMPLICACIÓN" value="Imp.">
                                        <br>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {%if valores_mao %}
                                <tr>
                                    {% for i in valores_mao %}
                                        <!--Inserta la ultima celda antes del salto de fila para insertar correctamente el nombre corto del actor-->
                                        {%if i.posicion == posicion_salto %}
                                        <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}" value="{{i.valor}}">
                                        <br>
                                        <!--Inserta las sumatorias de movilizacion (ultima fila) -->
                                        {%elif i.posicion == posicion_salto_movilizacion %}
                                         <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}" value="{{i.valor}}">
                                        <br>
                                        <!--Inserta el nombre corto del actor (columna 1 nueva fila)-->
                                        {%elif i.posicion == 0%}
                                         <input style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text" size="3" title="{{i.descripcion|upper}}" value="{{i.valor}}">
                                        <!--Inserta los valores posterioes a la primera columna y previos a la ultima-->
                                        {%else%}
                                         <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}" value="{{i.valor}}">
                                        {%endif%}
                                    {%endfor%}
                                {% else %}
                                    <h3>Finalice el registro de la matriz MID y 2MAO para visualizar esta matriz. </h3>
                                {% endif %}
                                    <br>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br>
<br>

<!--MATRIZ 3CAA------------------------------------------------------------------------------------------------->

 <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="widget wgreen">
                    <div class="widget-head">
                         <div class="pull-left">3CAA - Matriz de Convergencias</div>
                        <div class="widget-icons pull-right"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered" id="tabla1">
                            <thead>
                                <tr>
                                    {%if actores %}
                                        <input style='text-align: center;'  type="text" readonly size="3" value="">
                                        {% for actor in actores %}
                                            <input id="act{{actor.id}}" style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text"
                                                   title="{{actor.nombreLargo|upper}}" data-toggle="modal" href="#modal_Consultar_actor"
                                                   size="3" value="{{actor.nombreCorto}}">
                                        {% endfor %}
                                    {% endif %}
                                    <br>
                                 </tr>
                            </thead>
                            <tbody>
                                {% if valores_caa %}
                                <tr>
                                    {% for i in valores_caa %}
                                        {% if i.posicion == posicion_salto_caa_daa %}
                                        <!--Inserta el ultimo valor antes del salto de fila-->
                                        <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}" value="{{i.valor}}">
                                        <br>
                                        <!--Inserta los nombres cortos-->
                                        {% elif i.posicion == 0 %}
                                        <input style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text" size="3" title="{{i.descripcion|upper}}" value="{{i.valor}}">
                                        {% else %}
                                        <!--inserta los valores caa-->
                                         <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}" value="{{i.valor}}">
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <h3>Finalice el registro de la matriz MID y 2MAO para visualizar esta matriz.</h3>
                                {% endif %}
                                    <br>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
 </div>

<br>
<br>

<! MATRIZ 3DAA------------------------------------------------------------------------------------------------->

 <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="widget wgreen">
                    <div class="widget-head">
                         <div class="pull-left">3DAA - Matriz de Divergencias</div>
                        <div class="widget-icons pull-right"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered" id="tabla3">
                            <thead>
                                <tr>
                                    {% if actores %}
                                        <input style='text-align: center;' readonly  type="text" size="3" value="">
                                        {% for actor in actores %}
                                            <input id="ver{{actor.id}}" style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" title="{{actor.nombreLargo|upper}}"
                                                   size="3" data-toggle="modal" href="#modal_Consultar_actor"  value="{{actor.nombreCorto}}">
                                        {% endfor %}
                                    {% endif %}
                                    <br>
                                 </tr>
                            </thead>
                            <tbody>
                                {% if valores_daa %}
                                <tr>
                                    {%for i in valores_daa %}
                                        {% if i.posicion == posicion_salto_caa_daa  %}
                                        <!--Inserta el ultimo valor antes del salto de fila-->
                                        <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}" value="{{i.valor}}">
                                        <br>
                                        <!--Inserta los nombres cortos-->
                                        {% elif i.posicion == 0%}
                                        <input style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="3" title="{{i.descripcion|upper}}" value="{{i.valor}}">
                                        {%else%}
                                        <!--inserta los valores daa-->
                                         <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}" value="{{i.valor}}">
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <h3>Finalice el registro de la matriz MID y 2MAO para visualizar esta matriz.</h3>
                                {% endif %}
                                    <br>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
 </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mao' estudio.id 2%}"><i class="fa fa-arrow-left"></i> Matriz 2MAO</a>
                    <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                    <a class="btn btn-primary" data-toggle="modal" href=""><i class="fa fa-download"></i> Descargar</a>
                    <a class="btn btn-sm btn-success" href="#">Informe <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>

<!--INICIO MODAL CONSULTAR ACTOR Y OBJETIVO----------------->

            {% include 'actor/modal_detalle_actor.html' %}

            {% include 'objetivo/modal_detalle_objetivo.html' %}

<!--INICIO MODAL AYUDA--------------------------->

            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
								     <div class="modal-content">
								     <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title">Ayuda</h4>
								     </div>
								     <div class="modal-body" style="text-align: justify">
									<p>La matriz 1MAO describe la actitud actual de cada actor
                                        en relación a cada objetivo, indicando su posición a favor (+1), en contra (-1) o
                                        neutra (0) hacia el alcance de cada objetivo. </p><br>
                                         <p>Mediante la información contenida en ella, se obtiene la primera matriz de
                                         convergencias (1CAA) y divergencias (1DAA). La primera se obtiene por el
                                         producto de la matriz que contiene sólo productos escalares positivos, lo que
                                         representa el número de objetivos respecto a los cuales un par de actores tiene
                                         una actitud convergente, ya sea favorable o desfavorable. Por otro lado, 1DAA
                                         se obtiene por el producto de la matriz que contiene sólo productos escalares
                                         negativos, lo que representa el número de objetivos respecto de los cuales el
                                         par de actores tiene una actitud divergente.
  </p>
								     </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
								  </div>
								    </div>
								</div>
                    </div>

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor_objetivo_matriz.js'%}"></script>
{% endblock %}

{% endblock %}

