{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
     {% if usuario != '' %}
        <input hidden class="col-sm-1" type="number" name="idEstudio" value="{{estudio.id}}">Estudio: {{estudio.titulo}}
     {% endif %}
{% endblock %}

{% block content %}
    {% if usuario != '' %}
        <!-- Matriz 2MAO-------------------------------------------------------------------------------------------------->
        <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget wgreen">
                            <div class="widget-head">
                                 <div class="pull-left">2MAO - Matriz Valorada de Posiciones</div>
                                <div class="widget-icons pull-right">
                                     <select name="idObjetivoX" class="form-control" onchange="location = this.value;">
                                        <option value="">Histogramas</option>

                                        <option value="{% url 'mactor:implicacion' estudio.id 2 %}">Histograma de Implicaciones</option>

                                        <option value="{% url 'mactor:movilizacion' estudio.id 2 %}">Histograma de Movilizaciones</option>

                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <table class="table table-bordered" id="tabla1mao">
                                    <thead>
                                        <tr>
                                            {% if objetivos %}
                                            <input style='text-align: center;' readonly type="text" size="3" value="">
                                                {% for objetivo in objetivos %}
                                                    <input id="obj{{objetivo.id}}"  style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" title="{{objetivo.nombreLargo|upper}}"
                                                           size="3" data-toggle="modal" href="#modal_Consultar_objetivo" value="{{objetivo.nombreCorto}}">
                                                {% endfor %}
                                            <input style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="3" title="IMPLICACIÓN POSITIVA (ACUERDOS)" value="+">
                                            <input style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="3"  title="IMPLICACIÓN NEGATIVA (DESACUERDOS)" value="-">
                                            <input style='text-align: center; background-color: #5e5e5e; color: white;' readonly type="text" size="3"
                                                     title="IMPLICACIÓN" value="Imp.">
                                            <br>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {% if valores_mao %}
                                         <tr>
                                             {% for i in valores_mao %}
                                                <!--Inserta la ultima celda antes del salto de fila (sumatoria de implicacion total)-->
                                                {% if i.posicion == posicion_salto %}
                                                    <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}" value="{{i.valor}}">
                                                    <br>
                                                <!--Inserta las sumatorias de movilizacion (ultima fila) -->
                                                {% elif i.posicion == posicion_salto_movilizacion %}
                                                    <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}" value="{{i.valor}}">
                                                    <br>
                                                <!--Inserta el nombre corto del actor-->
                                                {% elif i.posicion == 0 %}
                                                        {% if i.valor != '+' and i.valor != '-' and i.valor != 'Mov.' %}
                                                               <input id="str{{i.valor}}" style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="3" title="{{i.descripcion|upper}}" value="{{i.valor}}"
                                                                    data-toggle="modal" href="#modal_Consultar_actor">
                                                        {% else %}
                                                                <input style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text"
                                                               size="3" title="{{i.descripcion|upper}}" value="{{i.valor}}">
                                                        {% endif %}
                                                <!--Inserta los valores de la matriz posteriores al nombre y corto y las sumatorias de implicacion - y +-->
                                                {% else %}
                                                    {% if i.valor == 100 %}
                                                        <input style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="3" title="INFLUENCIA SIN REGISTRAR"  value="X">
                                                    {% else %}
                                                        <input style='text-align: center;' readonly type="text" size="3" title="{{i.descripcion}}"  value="{{i.valor}}">
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                             <h3>Registre los actores y objetivos del estudio.</h3>
                                        {% endif %}
                                            <br>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!--BOTONES----------------------------------------------------------------------------------------------------->

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <a class="btn btn-sm btn-success" href="{%url 'mactor:2mao' estudio.id%}"><i class="fa fa-arrow-left"></i> Inf. 2MAO</a>
                            <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                            <a class="btn btn-primary" data-toggle="modal" href=""><i class="fa fa-download"></i> Descargar</a>
                            <a class="btn btn-primary" id="caa_daa" href="{%url 'mactor:caa_daa' estudio.id 2%}"><i class="fa fa-table"></i> CAA-DAA</a>
                            <a class="btn btn-sm btn-success" href="{% url 'mactor:matriz_mao' estudio.id 3%}">Matriz 3MAO <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>


        <!--INICIO MODAL CONSULTAR ACTOR Y OBJETIVO----------------->

                    {% include 'actor/modal_detalle_actor.html' %}

                    {% include 'objetivo/modal_detalle_objetivo.html' %}


        <!--INICIO MODAL AYUDA------------------------------------------------------------------------------------------>

                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                             <div class="modal-content">
                                             <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Ayuda</h4>
                                             </div>
                                             <div class="modal-body" style="text-align: justify">
                                            <p>La matriz 1MAO describe la actitud actual de cada actor
                                                en relación a cada objetivo, indicando su posición a favor (+1), en contra (-1) o
                                                neutra (0) hacia el alcance de cada objetivo. </p><br>
                                                 <p>Mediante la información contenida en ella, se obtiene la primera matriz de
                                                 convergencias (1CAA) y divergencias (1DAA). La primera se obtiene por el
                                                 producto de la matriz que contiene sólo productos escalares positivos, lo que
                                                 representa el número de objetivos respecto a los cuales un par de actores tiene
                                                 una actitud convergente, ya sea favorable o desfavorable. Por otro lado, 1DAA
                                                 se obtiene por el producto de la matriz que contiene sólo productos escalares
                                                 negativos, lo que representa el número de objetivos respecto de los cuales el
                                                 par de actores tiene una actitud divergente.
          </p>
                                             </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                          </div>
                                            </div>
                                        </div>
                            </div>
    {% else %}
        <img src="{% static 'img/acceso_denegado.png' %}">
        <h2>Upps...no cuenta con los permisos necesarios para acceder a esta página.</h2>
    {% endif %}

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js_mactor_modals/consultar/consultar_actor_objetivo_matriz.js'%}"></script>
{% endblock %}

{% if estado_matriz == 0%}
    <script type="text/javascript">
        document.getElementById("caa_daa").disabled = true;
    </script>
{% endif %}


{% endblock %}

